@if (ViewBag.UserRole == "Fasilitator")
{
	<div class="row">
		<div class="col-lg">
			<div class="my-3" style="margin-top: 40px;">
				<a id="tambahDataBtn" class="btn" style="background-color:#0059ab; color:white;">Tambah Absensi</a>
			</div>
		</div>
	</div>
}

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<div class="row">
					<div class="col-10">
						<strong>Absensi Mahasiswa</strong>
					</div>
					<div class="col-2">
						<select class="form-select float-end" id="tahun" name="tahun" aria-label="">
						</select>
					</div>
				</div>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Fasilitator</th>
							<th scope="col">Nomor Pendaftaran</th>
							<th scope="col">Mahasiswa</th>
							<th scope="col">Tanggal Kehadiran</th>
							<th scope="col">Status Kehadiran</th>
							<th scope="col">Keterangan</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	function TahunPkkmb() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllPkkmb"
		var method = "GET";

		$.ajax({
			url: url,
			type: method,
			dataType: "json",
			success: function (response) {
				DropDownTahunPkkmb(response.data);
			},
			error: function (xhr, status, error) {
				console.log('Error fetching data:', error);
				console.log(xhr.responseJSON);
			}
		});
	}

	function DropDownTahunPkkmb(data) {
		var dropdown = $('#tahun');
		dropdown.empty();
		dropdown.append($('<option selected disabled data-idpkkmb="">Pilih Tahun</option>'));

		var options = $.map(data, function (item) {
			return $('<option></option>').val(item.pkm_idPkkmb).attr('data-idpkkmb', item.pkm_idPkkmb).text('Tahun ' + item.pkm_tahunPkkmb);
		});

		dropdown.append(options);
	}

	$(document).ready(function () {
		TahunPkkmb();

		$('#tahun').change(function () {
			var selectedYearId = $(this).find(':selected').attr('data-idpkkmb');
			var selectedYear = $(this).find(':selected').text();
			loadTable(selectedYearId);
		});

		loadTable(idpkkmb);
	});

	if ('@ViewBag.userRole' == 'Fasilitator') {
		var idkelompok = null
		loadKelompok()

		var tambahDataBtn = document.getElementById("tambahDataBtn");

		tambahDataBtn.onclick = function () {
			if (idkelompok !== null) {
				window.location.href = "/Absensi/TambahAbsensi/" + idkelompok;
			} else {
				Swal.fire({
					icon: "warning",
					title: "Kelompok Belum Tersedia.",
					showConfirmButton: true,
					showClass: {
						popup: 'animate__animated animate__fadeInDown'
					},
					hideClass: {
						popup: 'animate__animated animate__fadeOutUp'
					}
				})
			}
		};
	}

	function loadTable(id_pkkmb) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllAbsensi?abs_idpkkmb=" + id_pkkmb
		var method = "GET";
		var counter = 1;
		var detailData = [];

		jq('#tabellist').DataTable().clear().destroy();

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				var totalData = item.length;

				$.each(item, function (key, val) {
					var namaKesekretariatan = [];
					var namaMahasiswa = [];

					loadNamaKesekretariatan(val.abs_nim, function (namaKsk) {
						namaKesekretariatan.push([namaKsk]);
						loadNamaMahasiswa(val.abs_nopendaftaran, function (namaMhs) {
							namaMahasiswa.push([namaMhs]);
							var aksi = '';
							if ('@ViewBag.userRole' == 'Fasilitator') {
								aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Absensi/Update/' + val.abs_idabsensi + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>';
							}
							detailData.push([counter, namaKesekretariatan, val.abs_nopendaftaran, namaMahasiswa, formatDateForDisplay(val.abs_tglkehadiran), val.abs_statuskehadiran, val.abs_keterangan]);
							counter++;

							if (counter - totalData == 1) {
								initializeDataTable(detailData);
							}
						});
					});
				});

				function initializeDataTable(data) {
					jq('#tabellist').DataTable({
						data: detailData,
						language: {
							search: "Cari :",
							zeroRecords: "Data Tidak Ditemukan",
							sLengthMenu: "Menampilkan _MENU_ data",
							info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
							infoEmpty: "Menampilkan 0 data",
							infoFiltered: "(Difilter dari _MAX_ total data)",
							paginate: {
								previous: "Sebelumnya",
								next: "Berikutnya"
							}
						}
					});
				}
			},
			error: function (xhr, status, error) {
				console.log('Error fetching data:', error);
				console.log(xhr.responseJSON);
			}
		});
	}

	function formatDateForDisplay(dateString) {
		const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
		const formattedDate = new Date(dateString).toLocaleDateString('id-ID', options);
		return formattedDate;
	}

	function loadKelompok() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetKelompokByNim?kmk_nim=@ViewBag.UserId"
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				idkelompok = item.kmk_idkelompok;
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}

	function loadNamaKesekretariatan(id, callback) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "dataksk?ksk_nim=" + id;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				namaKsk = item.ksk_nama;
				callback(namaKsk);
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}

	function loadNamaMahasiswa(id, callback) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "datamahasiswa?mhs_nopendaftaran=" + id;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				namaMhs = item.mhs_namalengkap;
				callback(namaMhs);
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}
</script>
