@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row justify-content-center mb-5">
    <div class="col-lg mb-4">
        <p>
            <h2 class="text-center"><span style="color:#0059ab;">Kesekretariatan</span> / Informasi / Absensi</h2>
        </p>
    </div>
</div>

<div class="row justify-content-center mb-5">
    <div class="col-lg-8">
        <div class="card">
            <h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
                <strong>Absensi</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <div class="row">

                    <div class="col-md-6">
                        <!-- Second Column -->
                        <div class="form-floating mb-4 abs_idabsensi">
                            <input type="number" class="form-control" id="abs_idabsensi" name="abs_idabsensi" placeholder="">
                            <label for="floatingInputGrid">Id Absensi</label>
                        </div>
                        <div class="form-floating mb-4 abs_nim">
                            <input type="number" class="form-control" id="abs_nim" name="abs_nim" placeholder="">
                            <label for="floatingInputGrid">Nim</label>
                        </div>
                        <div class="form-floating mb-4 abs_nopendaftaran">
                            <input type="number" class="form-control" id="abs_nopendaftaran" name="abs_nopendaftaran" placeholder="">
                            <label for="floatingInputGrid">NO Pendaftaran</label>
                        </div>
                        <div class="form-floating mb-4 abs_tglkehadiran">
                            <input type="date" class="form-control" id="abs_tglkehadiran" name="abs_tglkehadiran" placeholder="">
                            <label for="floatingInputGrid">Hari / Tanggal</label>
                        </div>
                        <div class="form-floating mb-4 abs_Statuskehadiran">
                            <input type="number" class="form-control" id="abs_Statuskehadiran" name="abs_Statuskehadiran" placeholder="">
                            <label for="floatingInputGrid">Status Kehadiran</label>
                        </div>
                        <div class="form-floating mb-4 abs_Keterangan">
                            <input type="text" class="form-control" id="abs_Keterangan" name="abs_Keterangan" placeholder="">
                            <label for="floatingInputGrid">Keterangan</label>
                        </div>
                        <div class="form-floating mb-4 abs_Status">
                            <input type="number" class="form-control" id="abs_Status" name="abs_Status" placeholder="">
                            <label for="floatingInputGrid">Status</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" onclick="simpan()">Simpan</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    loadData();

    function loadData() {
        var abs_nim = document.getElementById("abs_idabsensi")
        var abs_nim = document.getElementById("abs_nim")
        var abs_nopendaftaran = document.getElementById("abs_nopendaftaran")
        var abs_tglkehadiran = document.getElementById("abs_tglkehadiran")
        var abs_Statuskehadiran = document.getElementById("abs_Statuskehadiran")
        var abs_Keterangan = document.getElementById("abs_Keterangan")
        var abs_Status = document.getElementById("abs_Status")

        var hostname = "https://localhost:44373/"
        var url = hostname + "GetAbsensi?abs_idabsensi=" + abs_idabsensi.value
        var method = "GET"

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var tanggalOption = tanggal.value;
                var item = data.data;
                abs_idabsensi.value = item.abs_idabsensi;
                abs_nim.value = item.abs_nim;
                abs_nopendaftaran.value = item.abs_nopendaftaran;
                abs_tglkehadiran.value = item.abs_tglkehadiran;
                abs_Statuskehadiran.value = item.abs_Statuskehadiran;
                abs_Keterangan.value = item.abs_Keterangan;
                abs_Status.value = item.abs_Status
            },

        });
    }
    function simpan() {

        var abs_idabsensi = document.getElementById("abs_idabsensi").value;
        var abs_nim = document.getElementById("abs_nim").value;
        var abs_nopendaftaran = document.getElementById("abs_nopendaftaran").value;
        var abs_tglkehadiran = document.getElementById("abs_tglkehadiran").value;  // Mengambil nilai sikap
        var abs_Statuskehadiran = document.getElementById("abs_Statuskehadiran").value;
        var abs_Keterangan = document.getElementById("abs_Keterangan").value;
        var abs_Status = document.getElementById("abs_Status").value;

        var hostname = "https://localhost:44373";
        var url = hostname + "/UpdateAbsensi";
        var method = "PUT";
        var input = {
            abs_idabsensi: abs_idabsensi,
            abs_nopendaftaran: abs_nopendaftaran,
            abs_nim: "KSK001",
            abs_tglkehadiran: abs_tglkehadiran,  // Menggunakan nilai sikap
            abs_Statuskehadiran: abs_Statuskehadiran,
            abs_Keterangan: abs_Keterangan,
            abs_Status: "Aktif"
        }

        var data = JSON.stringify(input);

        $.ajax({
            url: url,
            method: method,
            data: data,
            contentType: "application/json",
            success: function (data) {
                console.log('Data from server:', data);
                if (data.status === 200) {
                    alert("Data berhasil diupdate");
                    window.location.href = '/Absensi/Index';
                } else {
                    console.log('Update failed. Server response:', data);
                    alert("Gagal mengupdate data. Periksa konsol log untuk informasi lebih lanjut.");
                }
            },
            error: function (xhr, status, error) {
                console.log('Error updating data:', error);
                console.log(xhr.responseJSON);
                console.log(status);
            },
        });
    }


</script>