<!doctype html>
<html lang="en" dir="ltr">
<head runat="server">
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-MPB2J6QQ');</script>
	<!-- End Google Tag Manager -->

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>PKKMB AstraTech</title>
	<link rel="icon" href="~/assets/Images/logo/astratech.ico" />
	<link rel="shortcut icon" href="~/assets/Images/logo/astratech.ico" />
	<link href="~/assets/Plugins/MDB-Pro_4.14.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/assets/Plugins/MDB-Pro_4.14.1/css/mdb.min.css" rel="stylesheet" />
	<link href="~/assets/Plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/assets/Plugins/fontawesome-free-5.11.2-web/css/fontawesome.min.css" rel="stylesheet" />
	<link href="~/assets/Plugins/fontawesome-free-5.11.2-web/css/solid.min.css" rel="stylesheet" />
	<link href="~/assets/Plugins/fontawesome-free-5.11.2-web/css/regular.min.css" rel="stylesheet" />
	<link href="~/assets/Plugins/fontawesome-free-5.11.2-web/css/brands.min.css" rel="stylesheet" />
	<link href="~/assets/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
	<link href="~/assets/Styles/Style.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
	<script src="~/assets/Scripts/jquery-3.6.0.min.js"></script>
	<script src="~/assets/Scripts/jquery-ui-1.13.2.min.js"></script>
	<script src="~/assets/Plugins/sweetalert2/dist/sweetalert2.min.js"></script>
	<script src="~/assets/Plugins/fontawesome-free-5.11.2-web/js/fontawesome.min.js"></script>
	<script src="~/assets/Plugins/MDB-Pro_4.14.1/js/bootstrap.min.js"></script>
	<script src="~/assets/Plugins/MDB-Pro_4.14.1/js/mdb.min.js"></script>
	<script src="~/assets/Plugins/Highcharts-7.2.1/code/highcharts.js"></script>
	<script src="~/assets/Plugins/Highcharts-7.2.1/code/highcharts-more.js"></script>
	<script src="//code.tidio.co/magv0uprt7k6dju3bbazrdhmbbcvo45a.js" async></script>
	<script type="text/javascript">
		function sentValidation(input) {
			$(input).addClass('disabled');
			$(input).text('Mohon tunggu..');
		}

		$(function () {
			$(".datepicker").pickadate({
				monthsFull: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
				monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agt', 'Sep', 'Okt', 'Nov', 'Des'],
				weekdaysFull: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
				weekdaysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
				today: 'Hari Ini',
				clear: '',
				close: 'Tutup',
				labelMonthNext: 'Bulan berikutnya',
				labelMonthPrev: 'Bulan sebelumnya',
				labelMonthSelect: 'Pilih bulan',
				labelYearSelect: 'Pilih tahun',
				format: 'yyyy-mm-dd',
				closeOnSelect: false,
				closeOnClear: false,
				selectYears: 50,
				max: new Date()
			});
		});
	</script>

</head>
<body>
	@RenderBody()
</body>
</html>