@{
}


<div class="row justify-content-center mb-5">
	<div class="col-lg mb-4">
		<div class="card">
			<div class="card-header">
				Tugas Mahasiswa Baru
			</div>
			<div class="card-body">
				<table class="table" id="">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Nama</th>
							<th scope="col">Kelompok</th>
							<th scope="col">Tugas</th>
							<th scope="col">Pengumpulan Tugas</th>
							<th scope="col">Deadline</th>
							<th scope="col">Aksi</th>
						</tr>
					</thead>
					<tbody id="tbody"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>