@if (ViewBag.UserRole == "Fasilitator")
{
	<div class="row">
		<div class="col-lg">
			<div class="my-3" style="margin-top: 40px;">
				<a class="btn" style="background-color:#0059ab; color:white;" asp-controller="tugas" asp-action="tambahtugas">Tambah Tugas</a>
			</div>
		</div>
	</div>
}

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<div class="row">
					<div class="col-10">
						<strong>Tugas Mahasiswa Baru</strong>
					</div>
					<div class="col-2">
						<select class="form-select float-end" id="tahun" name="tahun" aria-label="">
						</select>
					</div>
				</div>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Nama Tugas</th>
							<th scope="col">Tanggal Pemberian</th>
							<th scope="col">Tugas</th>
							<th scope="col">Deadline</th>
							<th scope="col">Deskripsi</th>
							@if (ViewBag.UserRole == "Fasilitator" || ViewBag.UserRole == "Mahasiswa")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	function TahunPkkmb() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllPkkmb"
		var method = "GET";

		$.ajax({
			url: url,
			type: method,
			dataType: "json",
			success: function (response) {
				DropDownTahunPkkmb(response.data);
			},
			error: function (xhr, status, error) {
				console.log('Error fetching data:', error);
				console.log(xhr.responseJSON);
			}
		});
	}

	function DropDownTahunPkkmb(data) {
		var dropdown = $('#tahun');
		dropdown.empty();
		dropdown.append($('<option selected disabled data-idpkkmb="">Pilih Tahun</option>'));

		var options = $.map(data, function (item) {
			return $('<option></option>').val(item.pkm_idPkkmb).attr('data-idpkkmb', item.pkm_idPkkmb).text('Tahun ' + item.pkm_tahunPkkmb);
		});

		dropdown.append(options);
	}

	$(document).ready(function () {
		TahunPkkmb();

		$('#tahun').change(function () {
			var selectedYearId = $(this).find(':selected').attr('data-idpkkmb');
			var selectedYear = $(this).find(':selected').text();
			loadTable(selectedYearId);
		});

		loadTable(idpkkmb);
	});

	function formatDateForDisplay(dateString) {
		const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
		const formattedDate = new Date(dateString).toLocaleDateString('id-ID', options);
		return formattedDate;
	}

	function loadTable(id_pkkmb) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "getalltugas?tgs_idpkkmb=" + id_pkkmb
		var method = "GET";
		var counter = 1;
		var detailData = [];

		$('#tabellist').DataTable().destroy();

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data

				$.each(item, function (key, val) {
					var aksi = null;
					var fileName = val.tgs_filetugas.split('\\').pop();
					var downloadtugas = '<a href="#" class="download-link" data-file="' + fileName + '">' + fileName + '</a>'
					if ("@ViewBag.UserRole" == "Fasilitator") {
						aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Tugas/UbahTugas/' + val.tgs_idtugas + '" data-toggle="tooltip" data-placement="top" title="Ubah Tugas"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a> ' +
							'<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Tugas/PenilaianTugas/' + val.tgs_idtugas + '" data-toggle="tooltip" data-placement="top" title="Lihat Tugas"><i class="fa fa-eye" aria-hidden="true"></i></a>'
					} else if ("@ViewBag.UserRole" == "Mahasiswa") {
						aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Tugas/PengumpulanTugas/' + val.tgs_idtugas + '" data-toggle="tooltip" data-placement="top" title="Lihat Tugas"><i class="fa fa-eye" aria-hidden="true"></i></a>'
					}
					detailData.push([counter, val.tgs_namatugas, formatDateForDisplay(val.tgs_tglpemberiantugas), downloadtugas, formatDateForDisplay(val.tgs_deadline), val.tgs_deskripsi, aksi])
					counter++;
				});

				$('#tabellist').DataTable({
					data: detailData,
					language: {
						search: "Cari :",
						zeroRecords: "Data Tidak Ditemukan",
						sLengthMenu: "Menampilkan _MENU_ data",
						info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
						infoEmpty: "Menampilkan 0 data",
						infoFiltered: "(Difilter dari _MAX_ total data)",
						paginate: {
							previous: "Sebelumnya",
							next: "Berikutnya"
						}
					}
				});

				$('.download-link').on('click', function (e) {
					e.preventDefault();
					var fileName = $(this).data('file');
					downloadFile(fileName);
				});
			},
		});
	}

	function downloadFile(fileName) {
		var url = "https://localhost:7087/Tugas/Download";

		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(fileName),
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.blob();
			})
			.then(blob => {
				var url = URL.createObjectURL(blob);
				var a = document.createElement('a');
				a.href = url;
				a.download = fileName;
				document.body.appendChild(a);
				a.click();
				document.body.removeChild(a);
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}
</script>