@{
	Layout = "_Layout";
}

<div class="row">
	<div class="col-lg">
		<div class="my-3" style="margin-top: 40px;">
			<a class="btn" style="background-color:#0059ab; color:white;" asp-controller="tugas" asp-action="tambahtugas">Tambah Tugas</a>
		</div>
	</div>
</div>

<div class="row justify-content-center mb-5">
	<div class="col-lg mb-4">
		<div class="card">
			<div class="card-header">
				Tugas Mahasiswa Baru
			</div>
			<div class="card-body">
				<table class="table" id="datatable">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">NIM</th>
							<th scope="col">Jenis Tugas</th>
							<th scope="col">Tanggal Pemberian</th>
							<th scope="col">Tugas</th>
							<th scope="col">Deadline</th>
							<th scope="col">Deskripsi</th>
							<th scope="col">Aksi</th>
						</tr>
					</thead>
					<tbody id="tbody"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var token = getCookie("token");
	console.log('token : ', token)

	function getCookie(name) {
		var nameEQ = name + "=";
		var cookies = document.cookie.split(';');

		for (var i = 0; i < cookies.length; i++) {
			var cookie = cookies[i].trim();
			if (cookie.startsWith(nameEQ)) {
				return cookie.substring(nameEQ.length, cookie.length);
			}
		}

		return null; // Return null if the cookie is not found
	}


	loadTable()

	function formatDateForDisplay(dateString) {
		const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
		const formattedDate = new Date(dateString).toLocaleDateString('id-ID', options);
		return formattedDate;
	}

	function loadTable() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "getalltugas";
		var method = "GET";
		var counter = 1;

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var list = data.data;
				list.forEach(function (item) {
					var filePath = "C:\\RPL\\PKKMB-API\\File_Tugas\\TugasMahasiswa\\" + item.tgs_filetugas;
					var fileName = item.tgs_filetugas.split('\\').pop();

					var newRow = '<tr>' +
						'<td>' + counter + '</td>' +
						'<td>' + item.tgs_nim + '</td>' +
						'<td>' + item.tgs_jenistugas + '</td>' +
						'<td>' + formatDateForDisplay(item.tgs_tglpemberiantugas) + '</td>' +
						'<td><a href="#" class="download-link" data-file="' + fileName + '">' + fileName + '</a></td>' +
						'<td>' + formatDateForDisplay(item.tgs_deadline) + '</td>' +
						'<td>' + item.tgs_deskripsi + '</td>' +
						'<td>' +
						'<a class="btn btn-primary" href="/Tugas/UbahTugas/' + item.tgs_idtugas + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>' +
						'</td>' +
						'</tr>';

					$('#tbody').append(newRow);
					counter++;
				});

				$('.download-link').on('click', function (e) {
					e.preventDefault();
					var fileName = $(this).data('file');
					downloadFile(fileName);
				});
			},
		});
	}

	function downloadFile(fileName) {
		var url = "https://localhost:7087/Tugas/Download";

		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(fileName),
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.blob();
			})
			.then(blob => {
				var url = URL.createObjectURL(blob);
				var a = document.createElement('a');
				a.href = url;
				a.download = fileName;
				document.body.appendChild(a);
				a.click();
				document.body.removeChild(a);
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

</script>