<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong><span id="kelompok"></span>&nbsp;<span class="float-end" id="fasilitator"></span></strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">No Pendaftaran</th>
							<th scope="col">Mahasiswa</th>
							<th scope="col">Jenis Kelamin</th>
							<th scope="col">Program Studi</th>
							<th scope="col">Kategori</th>
							<th scope="col">Tugas</th>
							<th scope="col">Nilai</th>
							<th scope="col">Aksi</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="unggahTugasLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#0059ab;">
				<h5 class="modal-title text-white" id="unggahTugasLabel">Penilaian Tugas</h5>
				<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center">Inputkan Nilai Untuk Mahasiswa</p>
				<div class="input-group mb-4">
					<input type="number" class="form-control" id="nilai" name="nilai" data-nomhs="your_value_here" placeholder="" max="100" oninput="limitToMax(this, 100)" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
				<button type="button" class="btn text-white" style="background-color:#0059ab;" onclick="SubmitNilai(event)">Simpan</button>
			</div>
		</div>
	</div>
</div>

<script>
	var idkelompok = null;
	var selectedNoPendaftarans = [];
	var iddetail = '@ViewBag.tgs_idtugas';

	namaFasilitator()

	$("#nilai").keypress(function (event) {
		// Mengecek jika tombol yang ditekan adalah tombol Enter
		if (event.which === 13) {
			// Memanggil fungsi SubmitNilai()
			SubmitNilai(event);
		}
	});

	function limitToMax(element, maxValue) {
		if (element.value > maxValue) {
			element.value = maxValue;
		}
	}

	function loadDataKelompok() {
		var namakelompok = document.getElementById("kelompok");

		var hostname = "https://localhost:7087/";
		var url = hostname + "GetKelompokByNim?kmk_nim=@ViewBag.UserId";
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				idkelompok = item.kmk_idkelompok
				namakelompok.textContent = item.kmk_namakelompok;
				nim = item.kmk_nim;
				loadDataAnggota()
			},
		});
	}

	function loadDataAnggota() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "Tugas/GetDetailTugasByKelompok?id_tugas=" + iddetail + "&id_kelompok=" + idkelompok;
		var method = "GET";
		var counter = 1;
		var detailData = []

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				$.each(data, function (key, val) {
					var fileName = val.dts_filetugas.split('\\').pop();
					var downloadtugas = '<a href="#" class="download-link" data-file="' + fileName + '">' + fileName + '</a>'
					var unggahnilai = '<button style="background-color: #3a4584 !important;" class="btn btn-primary btn-unggah-tugas" type="button" data-toggle="modal" data-target="#myModal" data-nomhs="' + val.dts_nopendaftaran + '"><i class="fa fa-pencil-alt" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Unggah Tugas"></button>'
					detailData.push([counter, val.dts_nopendaftaran, val.mhs_namalengkap, val.mhs_gender, val.mhs_programstudi, val.mhs_kategori, downloadtugas, val.dts_nilaitugas, unggahnilai])
					counter++;
				});

				$('#tabellist').DataTable({
					data: detailData,
					language: {
						search: "Cari :",
						zeroRecords: "Data Tidak Ditemukan",
						sLengthMenu: "Menampilkan _MENU_ data",
						info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
						infoEmpty: "Menampilkan 0 data",
						infoFiltered: "(Difilter dari _MAX_ total data)",
						paginate: {
							previous: "Sebelumnya",
							next: "Berikutnya"
						}
					}
				});

				$('.download-link').on('click', function (e) {
					e.preventDefault();
					var fileName = $(this).data('file');
					downloadFile(fileName);
				});
			},
		});
	}

	function namaFasilitator() {
		var fasilitator = document.getElementById("fasilitator");

		var hostname = "https://localhost:7087/";
		var url = hostname + "dataksk?ksk_nim=@ViewBag.UserId";
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			async: false,
			success: function (data) {
				var item = data.data;
				fasilitator.textContent = 'Fasilitator : ' + item.ksk_nama;
				loadDataKelompok()
			},
		});
	}

	function downloadFile(fileName) {
		var url = "https://localhost:7087/Tugas/DownloadTugasMahasiswa";

		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(fileName),
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.blob();
			})
			.then(blob => {
				var url = URL.createObjectURL(blob);
				var a = document.createElement('a');
				a.href = url;
				a.download = fileName;
				document.body.appendChild(a);
				a.click();
				document.body.removeChild(a);
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
			});
	}

	var nopendaftaran = null;
	function SubmitNilai(event) {
		// Prevent the default form submission behavior
		event.preventDefault();

		// Get the value from the input field
		var nilai = $("#nilai").val();
		// Check if nopendaftaran is not undefined or null
		if (nopendaftaran) {
			// Use the values in your AJAX request
			var method = "PUT";
			var url = "https://localhost:7087/Tugas/PenilaianTugas?dts_iddetail=" + iddetail + "&dts_nopendaftaran=" + nopendaftaran;

			var dts_nilai = parseFloat(nilai)

			$.ajax({
				url: url,
				method: method,
				data: JSON.stringify(dts_nilai),
				contentType: "application/json",
				success: function (data) {
					Swal.fire({
						position: "top-end",
						icon: "success",
						title: "Berhasil Menilai Tugas",
						showConfirmButton: false,
						timer: 2000
					}).then(() => {
						location.reload()
					});
				},
				error: function (xhr, status) {
					console.error("AJAX request error:", status);
					console.log("Server response:", xhr.responseJSON);
				},
			});
		} else {
			console.error("No Pendaftaran is undefined or null.");
		}
	}

	$(document).on('click', '.btn-unggah-tugas', function (event) {
		event.preventDefault();

		nopendaftaran = $(this).data("nomhs");
	});
</script>