@{
	Layout = "_Layout";
}

<div class="row justify-content-center mb-5">
	<div class="col-lg-8">
		<div class="card">
			@*@Context.Session.GetString("Peran")*@
			<h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Daftar Akun</strong>
				<a class="btn" style="position: absolute; top: 11px; right: 10px; color: white;" asp-controller="akun" asp-action="login"><strong>X</strong></a>
			</h5>
			<div class="card-body px-lg-5 pt-1">
				<div class="input-group has-validation mb-4 tipeakun">
					<div class="form-floating is-invalid mb-4">
						<select class="form-select is-invalid" id="validateField" data-target="validateField" name="tipeakun" aria-label="">
							<option selected disabled>Pilih Tipe Akun</option>
							<option value="Mahasiswa Baru">Mahasiswa Baru</option>
							<option value="Panitia Kesekretariatan">Panitia Kesekretariatan</option>
						</select>
						<label for="validateField">Tipe Akun</label>
						<div class="invalid-feedback" data-target="validateLabel">* Pilih Tipe Akun.</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<!-- First Column -->
						<div class="input-group has-validation mb-4 namalengkap">
							<div class="form-floating is-invalid">
								<input type="text" class="form-control is-invalid" maxlength="100" id="validateField" name="namalengkap" data-target="validateField" placeholder="">
								<label for="validateField">Nama Lengkap</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan Nama Lengkap.</div>
							</div>
						</div>

						<div class="input-group has-validation mb-4 jeniskelamin">
							<div class="form-floating is-invalid">
								<select class="form-select is-invalid" id="validateField" data-target="validateField" name="jeniskelamin" aria-label="">
									<option selected disabled>Pilih Jenis Kelamin</option>
									<option value="Laki-laki">Laki-laki</option>
									<option value="Perempuan">Perempuan</option>
								</select>
								<label for="validateField">Jenis Kelamin</label>
								<div class="invalid-feedback" data-target="validateLabel">* Pilih Jenis Kelamin.</div>
							</div>
						</div>

						<div class="input-group has-validation mb-4 programstudi">
							<div class="form-floating is-invalid">
								<select class="form-select is-invalid" id="validateField" data-target="validateField" name="programstudi" aria-label="">
									<option selected disabled>Pilih Program Studi</option>
									<option value="Teknik Produksi dan Proses Manufaktur">Teknik Produksi dan Proses Manufaktur</option>
									<option value="Pembuatan Peralatan dan Perkakas Produksi">Pembuatan Peralatan dan Perkakas Produksi</option>
									<option value="Manajemen Informatika">Manajemen Informatika</option>
									<option value="Teknologi Konstruksi Bangunan Gedung">Teknologi Konstruksi Bangunan Gedung</option>
									<option value="Mekatronika">Mekatronika</option>
									<option value="Mesin Otomotif">Mesin Otomotif</option>
									<option value="Teknologi Rekayasa Pemeliharaan Alat Berat">Teknologi Rekayasa Pemeliharaan Alat Berat</option>
									<option value="Teknologi Rekayasa Logistik">Teknologi Rekayasa Logistik</option>
								</select>
								<label for="validateField">Program Studi</label>
								<div class="invalid-feedback" data-target="validateLabel">* Pilih Program Studi.</div>
							</div>
						</div>

						<div class="input-group has-validation mb-4 alamat">
							<div class="form-floating is-invalid">
								<textarea class="form-control is-invalid" placeholder="" id="validateField" data-target="validateField" name="alamat" style="height: 100px"></textarea>
								<label for="validateField">Alamat</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan Alamat.</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<!-- Second Column -->
						<div class="input-group has-validation mb-4 notelepon">
							<div class="form-floating is-invalid">
								<input type="text" class="form-control is-invalid" maxlength="13" id="validateField" data-target="validateField" name="notelepon" placeholder="" oninput="validateNumberInput(this)">
								<label for="validateField">No Telepon</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan No Telepon.</div>
							</div>
						</div>

						<div class="input-group has-validation mb-4 email">
							<div class="form-floating is-invalid">
								<input type="email" class="form-control is-invalid" maxlength="50" id="validateField" data-target="validateField" name="email" placeholder="">
								<label for="validateField">Email</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan Email.</div>
							</div>
						</div>

						<div class="input-group has-validation mb-4 kategori">
							<div class="form-floating is-invalid">
								<select class="form-select is-invalid" id="validateField" data-target="validateField" name="kategori" aria-label="">
									<option selected disabled>Pilih Kategori Mahasiswa</option>
									<option value="Beasiswa">Beasiswa</option>
									<option value="Regular">Regular</option>
								</select>
								<label for="validateField">Kategori Mahasiswa</label>
								<div class="invalid-feedback" data-target="validateLabel">* Pilih Kategori Mahasiswa.</div>
							</div>
						</div>

						<div class="input-group has-validation mb-4 role">
							<div class="form-floating is-invalid">
								<select class="form-select is-invalid" id="validateField" data-target="validateField" name="role" aria-label="">
									<option selected disabled>Pilih Role</option>
									<option value="KSK">KSK</option>
									<option value="Fasilitator">Fasilitator</option>
								</select>
								<label for="validateField">Role Panitia Kesekretariatan</label>
								<div class="invalid-feedback" data-target="validateLabel">* Pilih Role.</div>
							</div>
						</div>

						<div class="input-group has-validation mb-4 katasandi">
							<div class="form-floating is-invalid">
								<input type="password" class="form-control is-invalid" maxlength="30" id="validateField" data-target="validateField" name="katasandi" placeholder="">
								<label for="validateField">Kata Sandi</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan Kata Sandi.</div>
							</div>
						</div>

						<div class="input-group has-validation mb-4 katasandi2">
							<div class="form-floating is-invalid">
								<input type="password" class="form-control is-invalid" maxlength="30" id="validateField" data-target="validateField" name="katasandi2" placeholder="">
								<label for="validateField">Ketik Ulang Kata Sandi</label>
								<div class="invalid-feedback" data-target="validateLabel">* Ketik Ulang Kata Sandi.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-around mb-1 my-5">
					<div>
						Sudah Memiliki Akun? <a asp-controller="akun" asp-action="login" class="font-weight-bold">Login Disini</a>
					</div>
				</div>
				<button class="btn btn-rounded btn-block my-3 mb-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="daftarakun(event)">Daftar</button>
			</div>
		</div>
	</div>
</div>

<script>
	$('.nim').hide();
	$('.nopendaftaran').hide();
	$('.namalengkap').hide();
	$('.jeniskelamin').hide();
	$('.programstudi').hide();
	$('.alamat').hide();
	$('.notelepon').hide();
	$('.email').hide();
	$('.kategori').hide();
	$('.role').hide();
	$('.katasandi').hide();
	$('.katasandi2').hide();

	// Add an event listener to the tipeakun dropdown
	$(document).ready(function () {
		$('[name="tipeakun"]').change(function () {
			// Get the selected value
			var selectedTipeAkun = $(this).val();

			// Toggle visibility based on the selected account type
			if (selectedTipeAkun === 'Mahasiswa Baru') {
				$('.nim').hide();
				$('.nopendaftaran').show();
				$('.namalengkap').show();
				$('.jeniskelamin').show();
				$('.programstudi').show();
				$('.alamat').show();
				$('.notelepon').show();
				$('.email').show();
				$('.kategori').show();
				$('.role').hide();
				$('.katasandi').show();
				$('.katasandi2').show();
			} else if (selectedTipeAkun === 'Panitia Kesekretariatan') {
				$('.nim').show();
				$('.nopendaftaran').hide();
				$('.namalengkap').show();
				$('.jeniskelamin').show();
				$('.programstudi').show();
				$('.alamat').show();
				$('.notelepon').show();
				$('.email').show();
				$('.kategori').hide();
				$('.role').show();
				$('.katasandi').show();
				$('.katasandi2').show();
			}
		});
	});
</script>

<script>
	function validateNumberInput(inputElement) {
		// Mengganti input hanya dengan karakter angka
		inputElement.value = inputElement.value.replace(/\D/g, '');

		// Menampilkan pesan kesalahan jika karakter selain angka dimasukkan
		var validationMessage = inputElement.parentElement.querySelector('[data-target="validateLabel"]');
	}

	function validateEmailFormat(emailInput) {
		// Pola regex untuk memeriksa format email
		var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
		return emailRegex.test(emailInput.value);
	}
</script>

<script>
	function daftarakun(event) {
		event.preventDefault();

		var selectedTipeAkun = $('[name="tipeakun"]').val();

		var namalengkap = document.getElementsByName("namalengkap")[0].value;
		var jeniskelamin = document.getElementsByName("jeniskelamin")[0].value;
		var programstudi = document.getElementsByName("programstudi")[0].value;
		var alamat = document.getElementsByName("alamat")[0].value;
		var notelepon = document.getElementsByName("notelepon")[0].value;
		var email = document.getElementsByName("email")[0].value;
		var kategori = document.getElementsByName("kategori")[0].value;
		var role = document.getElementsByName("role")[0].value;
		var katasandi = document.getElementsByName("katasandi")[0].value;
		var katasandi2 = document.getElementsByName("katasandi2")[0].value;

		// Adjust the URL, method, and data based on the selected account type
		var url = "";
		var method = "";
		var data = {};

		if (selectedTipeAkun === 'Mahasiswa Baru') {
			if (namalengkap.trim() === '' || jeniskelamin.trim() === 'Pilih Jenis Kelamin' || programstudi.trim() === 'Pilih Program Studi' || alamat.trim() === '' || notelepon.trim() === '' || email.trim() === '' || kategori.trim() === 'Pilih Kategori Mahasiswa' || katasandi.trim() === '' || katasandi2.trim() === '') {
				Swal.fire({
					position: "top-end",
					icon: "error",
					title: "Lengkapi Semua Fields",
					showConfirmButton: false,
					timer: 2000
				});
				return;
			}

			url = "https://localhost:7087/daftarmahasiswa";
			method = "POST";
			data = {
				mhs_nopendaftaran: "",
				mhs_namalengkap: namalengkap,
				mhs_gender: jeniskelamin,
				mhs_programstudi: programstudi,
				mhs_alamat: alamat,
				mhs_notelepon: notelepon,
				mhs_email: email,
				mhs_kategori: kategori,
				mhs_password: katasandi,
				mhs_status: "Aktif",
				mhs_idkelompok: "",
				mhs_idpkkmb: "",
				mhs_statuskelulusan: "",
				mhs_saran: "",
				mhs_kritik: "",
				mhs_insight: "",
				mhs_tglkirimevaluasi: "",
			};
		} else if (selectedTipeAkun === 'Panitia Kesekretariatan') {
			if (namalengkap.trim() === '' || jeniskelamin.trim() === 'Pilih Jenis Kelamin' || programstudi.trim() === 'Pilih Program Studi' || alamat.trim() === '' || notelepon.trim() === '' || email.trim() === '' || role.trim() === 'Pilih Role' || katasandi.trim() === '' || katasandi2.trim() === '') {
				Swal.fire({
					position: "top-end",
					icon: "error",
					title: "Isi Semua Fields",
					showConfirmButton: false,
					timer: 2000
				});
				return;
			}

			url = "https://localhost:7087/daftarksk";
			method = "POST";
			data = {
				ksk_nim: "",
				ksk_nama: namalengkap,
				ksk_jeniskelamin: jeniskelamin,
				ksk_programstudi: programstudi,
				ksk_alamat: alamat,
				ksk_notelepon: notelepon,
				ksk_email: email,
				ksk_role: role,
				ksk_password: katasandi,
				ksk_status: "Menunggu Verifikasi",
			};
		} else {
			Swal.fire({
				position: "top-end",
				icon: "error",
				title: "Pilih Tipe Akun",
				showConfirmButton: false,
				timer: 2000
			});
			return;
		}

		if (notelepon.length < 12 || notelepon.length > 13) {
			Swal.fire({
				position: "top-end",
				icon: "error",
				title: "Nomor Telepon Harus 12 atau 13 Digit",
				showConfirmButton: false,
				timer: 2000
			});
			return;
		}

		var isEmailValid = validateEmailFormat(document.getElementsByName("email")[0]);
		if (!isEmailValid) {
			Swal.fire({
				position: "top-end",
				icon: "error",
				title: "Format Email Tidak Sesuai",
				showConfirmButton: false,
				timer: 2000
			});
			return;
		}

		if (katasandi != katasandi2) {
			Swal.fire({
				position: "top-end",
				icon: "error",
				title: "Kata Sandi Tidak Cocok",
				showConfirmButton: false,
				timer: 2000
			})
		}

		$.ajax({
			url: url,
			method: method,
			data: JSON.stringify(data),
			contentType: "application/json",
			success: function (data) {
				Swal.fire({
					position: "top-end",
					icon: "success",
					title: "Pendaftaran Berhasil",
					showConfirmButton: false,
					timer: 2000
				}).then(() => {
					window.location.href = '..';
				});
			},
			error: function (xhr, status) {
				console.error("AJAX request error:", status);
				console.log("Server response:", xhr.responseJSON);
			},
		});
	}
</script>

<script>
	// Mengambil semua elemen dengan nama ID "validateField"
	var inputFields = document.querySelectorAll('[data-target="validateField"]');
	var validationMessage = document.querySelectorAll('[data-target="validateLabel"]');

	// Menambahkan event listener untuk setiap elemen input
	inputFields.forEach(function (inputField) {
		inputField.addEventListener('input', function () {
			if (inputField.value.trim() !== '') {
				inputField.classList.remove('is-invalid');

			} else {
				inputField.classList.add('is-invalid');

			}
		});

		inputField.addEventListener('focus', function () {
			if (inputField.value.trim() === '') {

			}
		});

		inputField.addEventListener('blur', function () {
			if (inputField.value.trim() !== '') {

			}
		});
	});
</script>
