@{
	Layout = "_Layout";
}

<div class="row justify-content-center mb-5">
	<div class="col-lg-5">
		<div class="card">
			@*@Context.Session.GetString("Peran")*@
			<h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Lupa Kata Sandi</strong>
				<a class="btn" style="position: absolute; top: 11px; right: 10px; color: white;" asp-controller="akun" asp-action="login"><strong>X</strong></a>
			</h5>
			<div class="card-body px-lg-5 pt-1">
				<div class="form-floating mb-4">
					<p class="text-center">
						Silakan masukkan alamat Email anda yang terdaftar untuk melihat
						kata sandi anda. Kami akan mengirimkan kata sandi anda ke alamat Email anda.
					</p>
					<hr />
				</div>
				<div class="form-floating mb-4">
					<input type="email" class="form-control" maxlength="50" id="floatingInputGrid" name="email" placeholder="">
					<label for="floatingInputGrid">Email</label>
				</div>
				<button class="btn btn-rounded btn-block my-3 mb-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="login(event)">Kirim</button>
			</div>
		</div>
	</div>
</div>