<div class="row justify-content-center mb-5">
	<div class="col-lg-8">
		<div class="card">
			<h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Tambah Informasi</strong>
			</h5>
			<div class="card-body px-lg-5 pt-0">
				<div class="row">
					<div class="col-md-6">
						<!-- First Column -->
						<div class="input-group has-validation mb-4 inf_jenisinformasi">
							<div class="form-floating is-invalid">
								<input type="text" class="form-control is-invalid" maxlength="30" id="inf_jenisinformasi" name="inf_jenisinformasi" data-target="validateField" placeholder="">
								<label for="validateField">Nama Informasi</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan Jenis Informasi.</div>
							</div>
						</div>

						<div class="input-group has-validation mb-4 inf_namainformasi">
							<div class="form-floating is-invalid">
								<input type="text" class="form-control is-invalid" maxlength="30" id="inf_namainformasi" name="inf_namainformasi" data-target="validateField" placeholder="">
								<label for="validateField">Nama Informasi</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan Nama Informasi.</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<!-- Second Column -->
						<div class="form-floating mb-4 inf_tglpublikasi">
							<input type="datetime-local" style="background-color:transparent;" class="form-control" id="inf_tglpublikasi" name="inf_tglpublikasi" placeholder="" disabled>
							<label for="inf_tglpublikasi">Tanggal Publikasi</label>
						</div>

						<div class="input-group has-validation mb-4 inf_deskripsi">
							<div class="form-floating is-invalid">
								<textarea class="form-control is-invalid" placeholder="" id="inf_deskripsi" data-target="validateField" name="inf_deskripsi" style="height: 100px"></textarea>
								<label for="validateFieldNamalengkap">Deskripsi</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan Deskripsi.</div>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-rounded btn-block my-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="tambahInformasi(event)">Simpan</button>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	function getCurrentDateTime() {
		var now = new Date();
		var year = now.getFullYear();
		var month = ('0' + (now.getMonth() + 1)).slice(-2);
		var day = ('0' + now.getDate()).slice(-2);
		var hours = ('0' + now.getHours()).slice(-2);
		var minutes = ('0' + now.getMinutes()).slice(-2);

		return year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
	}

	document.getElementsByName("inf_tglpublikasi")[0].value = getCurrentDateTime();

	function tambahInformasi(event) {
		event.preventDefault();

		var inf_jenisinformasi = document.getElementById("inf_jenisinformasi").value;
		var inf_namainformasi = document.getElementById("inf_namainformasi").value;
		var inf_tglpublikasi = document.getElementById("inf_tglpublikasi").value;
		var inf_deskripsi = document.getElementById("inf_deskripsi").value;

		if (inf_jenisinformasi.trim() == "" || inf_namainformasi.trim() == "" || inf_deskripsi.trim() == "") {
			Swal.fire({
				icon: "error",
				title: "Lengkapi Semua Fields",
				showConfirmButton: true,
				showClass: {
					popup: 'animate__animated animate__fadeInDown'
				},
				hideClass: {
					popup: 'animate__animated animate__fadeOutUp'
				}
			})
			return;
		}

		var hostname = "https://localhost:7087";
		var url = hostname + "/InsertInformasi";
		var method = "POST";
		var input = {
			inf_idinformasi: "",
			inf_jenisinformasi: inf_jenisinformasi,
			inf_namainformasi: inf_namainformasi,
			inf_tglpublikasi: inf_tglpublikasi,
			inf_deskripsi: inf_deskripsi,
			inf_status: "Aktif",
			inf_idpkkmb: idpkkmb
		};

		var data = JSON.stringify(input);

		$.ajax({
			url: url,
			method: method,
			data: data,
			contentType: "application/json",
			success: function (data) {
				if (data.status === 200) {
					Swal.fire({
						icon: "success",
						title: "Berhasil Menambah Informasi",
						showConfirmButton: true,
						showClass: {
							popup: 'animate__animated animate__fadeInDown'
						},
						hideClass: {
							popup: 'animate__animated animate__fadeOutUp'
						}
					}).then(() => {
						window.location.href = './';
					});
				}
			},
			error: function (xhr, status, error) {
				console.log('Error inserting data:', error);
				console.log(xhr.responseJSON);
				console.log(status);
			}
		});
	}
</script>

<script>
	// Mengambil semua elemen dengan nama ID "validateField"
	var inputFields = document.querySelectorAll('[data-target="validateField"]');
	var validationMessage = document.querySelectorAll('[data-target="validateLabel"]');

	// Menambahkan event listener untuk setiap elemen input
	inputFields.forEach(function (inputField) {
		inputField.addEventListener('input', function () {
			if (inputField.value.trim() !== '') {
				inputField.classList.remove('is-invalid');

			} else {
				inputField.classList.add('is-invalid');

			}
		});

		inputField.addEventListener('focus', function () {
			if (inputField.value.trim() === '') {

			}
		});

		inputField.addEventListener('blur', function () {
			if (inputField.value.trim() !== '') {

			}
		});
	});
</script>
