<div class="row justify-content-center mb-5">
	<div class="col-lg-8">
		<div class="card">
			<h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Update Informasi</strong>
			</h5>
			<div class="card-body px-lg-5 pt-0">
				<div class="row">
					<div class="col-md-6">
						<!-- First Column -->
						<div class="form-floating mb-4 inf_idinformasi hidden">
							<input type="text" class="form-control" id="inf_idinformasi" name="inf_idinformasi" placeholder="" value="@ViewBag.inf_idinformasi" readonly>
							<label for="inf_idinformasi">ID Informasi</label>
						</div>

						<div class="form-floating mb-4 inf_jenisinformasi">
							<input type="text" class="form-control" id="inf_jenisinformasi" name="inf_jenisinformasi" placeholder="">
							<label for="inf_jenisinformasi">Jenis Informasi</label>
						</div>

						<div class="form-floating mb-4 inf_namainformasi">
							<input type="text" class="form-control" id="inf_namainformasi" name="inf_namainformasi" placeholder="">
							<label for="inf_namainformasi">Nama Informasi</label>
						</div>
					</div>
					<div class="col-md-6">
						<!-- Second Column -->
						<div class="form-floating mb-4 inf_tglpublikasi">
							<input type="datetime-local" style="background-color:transparent;" class="form-control" id="inf_tglpublikasi" name="inf_tglpublikasi" placeholder="" disabled>
							<label for="inf_tglpublikasi">Tanggal Publikasi</label>
						</div>

						<div class="form-floating mb-4 inf_deskripsi">
							<input type="text" class="form-control" id="inf_deskripsi" name="inf_deskripsi" placeholder="">
							<label for="inf_deskripsi">Deskripsi</label>
						</div>
					</div>
				</div>
				<button class="btn btn-rounded btn-block my-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="updateInformasi(event)">Simpan</button>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	$(document).ready(function () {
		loadDataInformasi();
	});

	function getCurrentDateTime() {
		var now = new Date();
		var year = now.getFullYear();
		var month = ('0' + (now.getMonth() + 1)).slice(-2);
		var day = ('0' + now.getDate()).slice(-2);
		var hours = ('0' + now.getHours()).slice(-2);
		var minutes = ('0' + now.getMinutes()).slice(-2);

		return year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
	}

	function loadDataInformasi() {
		var inf_idinformasi = document.getElementById("inf_idinformasi").value;
		var inf_jenisinformasi = document.getElementById("inf_jenisinformasi");
		var inf_namainformasi = document.getElementById("inf_namainformasi");
		var inf_tglpublikasi = document.getElementById("inf_tglpublikasi");
		var inf_deskripsi = document.getElementById("inf_deskripsi");
		var inf_status = document.getElementById("inf_status");

		var hostname = "https://localhost:7087/";
		var url = hostname + "GetInformasi?inf_idinformasi=" + inf_idinformasi;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				var tanggalsekarang = getCurrentDateTime()
				$('#inf_jenisinformasi').val(item.inf_jenisinformasi);
				$('#inf_namainformasi').val(item.inf_namainformasi);
				$('#inf_tglpublikasi').val(tanggalsekarang);
				$('#inf_deskripsi').val(item.inf_deskripsi);
				$('#inf_status').val(item.inf_status);
			},
			error: function (error) {
				console.error("Error fetching data:", error);
			},
		});
	}

	function updateInformasi(event) {
		event.preventDefault();

		var inf_idinformasi = document.getElementById("inf_idinformasi").value;
		var inf_jenisinformasi = document.getElementById("inf_jenisinformasi").value;
		var inf_namainformasi = document.getElementById("inf_namainformasi").value;
		var inf_tglpublikasi = document.getElementById("inf_tglpublikasi").value;
		var inf_deskripsi = document.getElementById("inf_deskripsi").value;

		var hostname = "https://localhost:7087";
		var url = hostname + "/UpdateInformasi";
		var method = "PUT";
		var input = {
			inf_idinformasi: inf_idinformasi,
			inf_jenisinformasi: inf_jenisinformasi,
			inf_namainformasi: inf_namainformasi,
			inf_tglpublikasi: inf_tglpublikasi,
			inf_deskripsi: inf_deskripsi,
			inf_idpkkmb: idpkkmb,
			inf_status: 'Aktif'
		};

		var data = JSON.stringify(input);

		$.ajax({
			url: url,
			method: method,
			data: data,
			contentType: "application/json",
			success: function (data) {
				console.log('Data from server:', data);
				if (data.status === 200) {
					Swal.fire({
						icon: "success",
						title: "Berhasil Menambah Informasi",
						showConfirmButton: false,
						timer: 2000
					}).then(() => {
						window.location.href = '../';
					});
				} else {
					console.log('Update failed. Server response:', data);
					alert("Gagal memperbarui data. Periksa konsol log untuk informasi lebih lanjut.");
				}
			},
			error: function (xhr, status, error) {
				console.log('Error updating data:', error);
				console.log(xhr.responseJSON);
				console.log(status);
			}
		});
	}
</script>
