@{
}

<div class="row">
	<div class="col-lg">
	</div>
</div>

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<div class="card-header">
				Jam Plus
			</div>
			<div class="card-body">
				<table class="table" id="">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Nama </th>
							<th scope="col">Kelompok</th>
							<th scope="col">Hari / Tanggal</th>
							<th scope="col">Jam Plus</th>
						</tr>
					</thead>
					<tbody id="tbody"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	new DataTable('#datatable');
	loadTable()

	function loadTable() {
		var hostname = "https://localhost:44373/"
		var url = hostname + "GetAllNilaiSikap"
		var method = "GET"
		var counter = 1;

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var list = data.data
				list.forEach(function (item) {
					var newRow = '<tr>' +
						'<td>' + counter + '</td>' +
						'<td>' + item.nls_nopendaftaran + '</td>' +
						'<td>' + item.nls_nopendaftaran + '</td>' +
						'<td>' + item.nls_tanggal + '</td>' +
						'<td>' + item.nls_jamplus + '</td>' +
						'<td>' +
						'<a class="btn btn-primary" href="/jamplus/tambahjamplus' + item.nls_idnilaisikap + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>' +
						'</td>' +
						'</tr>';
					$('#tbody').append(newRow);
					counter++;
				});
			},
		});
	}
</script>