@if (@ViewBag.UserRole == "KSK")
{
	<div class="row">
		<div class="col-lg">
			<div class="my-3" style="margin-top: 40px;">
				<a class="btn" style="background-color:#0059ab; color:white;" asp-controller="ruangan" asp-action="tambahruangan">Tambah Ruangan</a>
			</div>
		</div>
	</div>
}

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Ruangan Kelas</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Id Ruangan</th>
							<th scope="col">Nama Ruangan</th>
							<th scope="col">Status</th>
							@if (@ViewBag.UserRole == "KSK")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	loadTable()

	function loadTable() {
		var hostname = "https://localhost:7087/"
		var url = hostname + "GetAllRuangan"
		var method = "GET"
		var counter = 1;
		var detailData = []

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;

				$.each(item, function (key, val) {
					var aksi = null;
					if ("@ViewBag.UserRole" == "KSK") {
						aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/ruangan/ubahruangan/' + val.rng_idruangan + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>'
					}
					detailData.push([counter, val.rng_idruangan, val.rng_namaruangan, val.rng_status, aksi])
					counter++;
				});

				$('#tabellist').DataTable({
					data: detailData,
					language: {
						search: "Cari :",
						zeroRecords: "Data Tidak Ditemukan",
						sLengthMenu: "Menampilkan _MENU_ data",
						info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
						infoEmpty: "Menampilkan 0 data",
						infoFiltered: "(Difilter dari _MAX_ total data)",
						paginate: {
							previous: "Sebelumnya",
							next: "Berikutnya"
						}
					}
				});
			},
			error: function (error) {
				console.log('Error fetching data:', error);
			}
		});
	}
</script>
