<div class="row justify-content-center mb-5">
	<div class="col-lg-8">
		<div class="card">
			@*@Context.Session.GetString("Peran")*@
			<h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Tambah Ruangan</strong>
				<a class="btn" style="position: absolute; top: 11px; right: 10px; color: white;" asp-controller="akun" asp-action="login"><strong>X</strong></a>
			</h5>
			<div class="card-body px-lg-5 pt-1">
				<div class="input-group has-validation mb-4 rng_namaruangan">
					<div class="form-floating is-invalid">
						<input type="text" class="form-control is-invalid" maxlength="30" id="validateField" name="rng_namaruangan" data-target="validateField" placeholder="">
						<label for="validateField">Ruangan</label>
						<div class="invalid-feedback" data-target="validateLabel">* Masukkan Ruangan.</div>
					</div>
					<button class="btn btn-rounded btn-block my-3 mb-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="tambahruangan(event)">Simpan</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function tambahruangan(event) {
		event.preventDefault();

		var rng_namaruangan = document.getElementsByName("rng_namaruangan")[0].value;

		var hostname = "https://localhost:7087/";
		var url = hostname + "InsertRuangan";
		var method = "POST";
		var input = {
			rng_idruangan: "",
			rng_namaruangan: rng_namaruangan,
			rng_status: "Aktif",
		};

		var data = JSON.stringify(input);

		$.ajax({
			url: url,
			method: method,
			data: data,
			contentType: "application/json",
			success: function (data) {
				Swal.fire({
					position: "top-end",
					icon: "success",
					title: "Berhasil Menambahkan Ruangan",
					showConfirmButton: false,
					timer: 2000
				}).then(() => {
					window.location.href = './';
				});
			},
			error: function (xhr, status, error) {
				console.error("AJAX request error:", status, error);
				console.log("Server response:", xhr.responseText);
			},
		});
	}
</script>

<script>
	// Mengambil semua elemen dengan nama ID "validateField"
	var inputFields = document.querySelectorAll('[data-target="validateField"]');
	var validationMessage = document.querySelectorAll('[data-target="validateLabel"]');

	// Menambahkan event listener untuk setiap elemen input
	inputFields.forEach(function (inputField) {
		inputField.addEventListener('input', function () {
			if (inputField.value.trim() !== '') {
				inputField.classList.remove('is-invalid');

			} else {
				inputField.classList.add('is-invalid');

			}
		});

		inputField.addEventListener('focus', function () {
			if (inputField.value.trim() === '') {

			}
		});

		inputField.addEventListener('blur', function () {
			if (inputField.value.trim() !== '') {

			}
		});
	});
</script>
