@{
	ViewData["Title"] = "Home Page";
}

<div class="container-fluid content">
	<img id="gambarInteraktif" src="/assets/Images/logo/Logo-PKKMB-480.png" class="rounded" alt="...">
</div>

<h5 class="fw-bold text-center mb-5" style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size:55px;">
	<span style="color: #2828AA;">
		PKKMB Politeknik Astra
	</span>
</h5>




<div class="floating-element-2"></div>
<div class="floating-element"></div>


<div class="container d-flex flex-row mt">
	<div class="img-fluid rounded-2 mb-2 imgWithShadow" style="width: 15rem;" id="gambarInteraktif">
		<img src="/assets/Images/1.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="...">
	</div>
	<div class="img-fluid rounded-2 mb-2 imgWithShadow" style="width: 15rem;" id="gambarInteraktif">
		<img src="/assets/Images/15.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="...">
	</div>
	<div class="img-fluid rounded-2 mb-2 imgWithShadow" style="width: 15rem;" id="gambarInteraktif">
		<img src="/assets/Images/12.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="...">
	</div>
	<div class="img-fluid rounded-2 mb-2 imgWithShadow" style="width: 15rem;" id="gambarInteraktif">
		<img src="/assets/Images/5.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="...">
	</div>
</div>

<div class="container">
	<div class="container">
		<div class="row" >
			<div class="col-sm rounded-2 mb-2 imgWithShadow" id="gambarInteraktif-2">
				<img src="~/assets/Images/DAY-1.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="DAY-1">
			</div>
			<div class="col-sm rounded-2 mb-2 imgWithShadow" id="gambarInteraktif-2">
				<img src="~/assets/Images/DAY-2.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="DAY-2">
			</div>
			<div class="col-sm rounded-2 mb-2 imgWithShadow" id="gambarInteraktif-2">
				<img src="~/assets/Images/DAY-3.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="DAY-3">
			</div>
			<div class="col-sm  rounded-2 mb-2 imgWithShadow" id="gambarInteraktif-2">
				<img src="~/assets/Images/DAY-4.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="DAY-4">
			</div>
			<div class="col-sm  rounded-2 mb-2 imgWithShadow" id="gambarInteraktif-2">
				<img src="~/assets/Images/DAY-5.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="DAY-5">
			</div>

		</div>
	</div>
</div>

<div class="container d-flex flex-row mt">
	<div class="img-fluid rounded-2 mb-2 imgWithShadow" style="width: 15rem;" id="gambarInteraktif">
		<img src="/assets/Images/18.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="...">
	</div>
	<div class="img-fluid rounded-2 mb-2 imgWithShadow" style="width: 15rem;" id="gambarInteraktif">
		<img src="/assets/Images/14.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="...">
	</div>
	<div class="img-fluid rounded-2 mb-2 imgWithShadow" style="width: 15rem;" id="gambarInteraktif">
		<img src="/assets/Images/8.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="...">
	</div>
	<div class="img-fluid rounded-2 mb-2 imgWithShadow" style="width: 15rem;" id="gambarInteraktif">
		<img src="/assets/Images/9.jpg" class="img-fluid rounded-2 mb-5 imgWithShadow" alt="...">
	</div>
</div>

<div class="container mb-5" id="video-bg-container" style=" background-color: white;">
	<h5 class="fw-bold text-center my-3" style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size:50px;">
		<span style="color: #0059AB;">
			AFTER MOVIE
		</span>
	</h5>
	<video class="container d-flex mb-5" id="video-bg" muted loop>
		<source src="/assets/Content/AFTER-MOVIE-2023.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
	<div id="controls" class="d-flex justify-content-center my-5 mt-3">
		<div id="mute-toggle" class="btn btn-primary mr-2" onclick="toggleMute()">
			<i id="mute-icon" class="fas fa-volume-mute"></i>
		</div>
		<div id="pause-toggle" class="btn btn-primary mr-2" onclick="togglePause()">
			<i id="pause-icon" class="fas fa-play"></i>
		</div>
	</div>
</div>


	
	<div id="notification-card" class="card mb-5 container" style="width: 18rem; position: fixed; bottom: 10px; right: 10px; display: none; transition: opacity 0.5s;">
		<img class="card-img-top mt-3" src="/assets/Images/AFTER-MOVIE-TMB.jpg" alt="Card image cap" style="filter: sepia(1);">
		<div class="card-body">
			<h5 class="card-title">Instagram Post</h5>
			<p class="card-text">After Movie Kegiatan PKKMB Politeknik Astra 2023.</p>
			<a href="https://www.instagram.com/p/CxLNvFyinDA" target="_blank" class="btn btn-primary">Go to Instagram Post</a>
			<button id="close-notification" onclick="closeNotification(event)" class="btn btn-light" style="position: absolute; top: 5px; right: 5px; cursor: pointer; font-size: 16px;">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>


<script>
	document.addEventListener("DOMContentLoaded", function () {
		var video = document.getElementById("video-bg");
		var muteToggle = document.getElementById("mute-toggle");
		var muteIcon = document.getElementById("mute-icon");
		var pauseToggle = document.getElementById("pause-toggle");
		var pauseIcon = document.getElementById("pause-icon");

		muteToggle.addEventListener("click", function () {
			toggleMute();
		});

		function toggleMute() {
			video.muted = !video.muted;
			updateMuteButton();
		}

		function updateMuteButton() {
			if (video.muted) {
				muteIcon.classList.remove("fa-volume-up");
				muteIcon.classList.add("fa-volume-mute");
			} else {
				muteIcon.classList.remove("fa-volume-mute");
				muteIcon.classList.add("fa-volume-up");
			}
		}

		pauseToggle.addEventListener("click", function () {
			togglePause();
		});

		function togglePause() {
			if (video.paused) {
				video.play();
				updatePauseButton();
			} else {
				video.pause();
				updatePauseButton();
			}
		}

		function updatePauseButton() {
			if (video.paused) {
				pauseIcon.classList.remove("fa-pause");
				pauseIcon.classList.add("fa-play");
			} else {
				pauseIcon.classList.remove("fa-play");
				pauseIcon.classList.add("fa-pause");
			}
		}
	});
</script>

<script>
	var video = document.getElementById("video-bg");
	var notificationCard = document.getElementById("notification-card");
	var isCardShown = false;

	video.addEventListener("timeupdate", function () {
		if (video.currentTime >= 5 && !isCardShown) {
			showNotificationCard();
			isCardShown = true;
		}
	});

	function showNotificationCard() {
		notificationCard.style.display = "block"; // Set display to block
		setTimeout(function () {
			notificationCard.style.opacity = "1";
		}, 10); // Delay setting opacity to ensure transition
	}

	function closeNotification(event) {
		event.preventDefault(); // Prevent the default form submission behavior
		notificationCard.style.opacity = "0";
		setTimeout(function () {
			notificationCard.style.display = "none";
		}, 500); // Delay hiding the card to allow transition
	}
</script>