<div class="row justify-content-center mb-5">
	<div class="col-lg-8">
		<div class="card">
			<h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Tambah Jam Plus / Minus</strong>
			</h5>
			<div class="card-body px-lg-5 pt-0">
				<div class="row">
					<div class="col-md-6">
						<!-- First Column -->
						<div class="input-group has-validation mb-4 nama">
							<div class="form-floating is-invalid">
								<select class="form-control is-invalid" id="nama" name="nama" data-target="validateField" required>
									<option selected disabled>Pilih Mahasiswa</option>
								</select>
								<label for="nama">Mahasiswa</label>
								<div class="invalid-feedback" data-target="validateLabel">* Pilih Mahasiswa.</div>
							</div>
						</div>
						<div class="input-group has-validation mb-4 namakelompok">
							<div class="form-floating">
								<input type="text" class="form-control" maxlength="100" id="namakelompok" name="namakelompok" data-target="validateField" style="background-color: white;" placeholder="" disabled>
								<label for="floatingInputGrid">Kelompok</label>
							</div>
						</div>
						<div class="input-group has-validation mb-4 tanggal" hidden>
							<div class="form-floating">
								<input type="datetime-local" class="form-control" id="tanggal" name="tanggal" data-target="validateField" style="background-color: white;" placeholder="">
								<label for="validateField">Hari / Tanggal</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<!-- Second Column -->
						<div class="input-group has-validation mb-4 jenisjam">
							<div class="form-floating is-invalid">
								<select class="form-select is-invalid" id="jenisjam" name="jenisjam" data-target="validateField" aria-label="">
									<option selected disabled>Pilih Kategori Jam</option>
									<option value="Jam Plus">Jam Plus</option>
									<option value="Jam Minus">Jam Minus</option>
								</select>
								<label for="floatingSelect">Kategori Jam</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan Kategori Jam.</div>
							</div>
						</div>
						<div class="input-group has-validation mb-4 jumlah">
							<div class="form-floating is-invalid">
								<input type="number" class="form-control is-invalid" maxlength="100" id="jumlah" name="jumlah" data-target="validateField" placeholder="">
								<label for="floatingInputGrid">Jumlah Jam</label>
								<div class="invalid-feedback" data-target="validateLabel">* Masukkan Jumlah Jam.</div>
							</div>
						</div>
					</div>
					<div class="input-group has-validation mb-4 deskripsi">
						<div class="form-floating is-invalid">
							<textarea class="form-control is-invalid" placeholder="" id="deskripsi" data-target="validateField" name="deskripsi" style="height: 100px"></textarea>
							<label for="validateField">Deskripsi</label>
							<div class="invalid-feedback" data-target="validateLabel">* Masukkan Deskripsi.</div>
						</div>
					</div>
				</div>
				<button class="btn btn-rounded btn-block my-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="tambahJam(event)">Simpan</button>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	var idkelompok = null;
	NamaKelompok()
	$('#tanggal').val(getCurrentDateTime());

	function getCurrentDateTime() {
		var now = new Date();
		var year = now.getFullYear();
		var month = ('0' + (now.getMonth() + 1)).slice(-2);
		var day = ('0' + now.getDate()).slice(-2);
		var hours = ('0' + now.getHours()).slice(-2);
		var minutes = ('0' + now.getMinutes()).slice(-2);

		return year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
	}

	function NamaKelompok() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetKelompokByNim?kmk_nim=@ViewBag.UserId";
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				idkelompok = item.kmk_idkelompok;
			},
		});
	}

	function NamaMahasiswa() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetMahasiswaByKelompok?kmk_idkelompok=" + idkelompok;
		var method = "GET";

		$.ajax({
			url: url,
			type: method,
			dataType: "json",
			success: function (response) {
				NamaDropDown(response);
			},
			error: function (xhr, status, error) {
				console.log('Error fetching data:', error);
				console.log(xhr.responseJSON);
			}
		});
	}

	function NamaDropDown(data) {
		var dropdown = $('#nama');
		dropdown.empty();

		// Tambahkan opsi default "Pilih Mahasiswa"
		dropdown.append($('<option selected disabled></option>').val('').text('Pilih Mahasiswa'));

		var options = $.map(data, function (item) {
			return $('<option></option>').val(item.mhs_nopendaftaran).text(item.mhs_namalengkap);
		});

		dropdown.append(options);

		dropdown.on('change', function () {
			var noPendaftaran = $(this).val();
			KelompokID(noPendaftaran, data);
		});
	}

	function KelompokID(noPendaftaran, data) {
		var Mhs = data.find(function (item) {
			return item.mhs_nopendaftaran === noPendaftaran;
		});

		if (Mhs) {
			var idKelompok = Mhs.mhs_idkelompok;
			getNamaKelompok(idKelompok);
		} else {
			console.log('Mahasiswa not found for nopendaftaran:', noPendaftaran);
		}
	}

	function getNamaKelompok(idKelompok) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllKelompok?kmk_idpkkmb=" + idpkkmb
		var method = "GET";

		$.ajax({
			url: url,
			type: method,
			dataType: "json",
			success: function (response) {
				if (response && response.data && Array.isArray(response.data)) {
					var kelompok = response.data.find(function (item) {
						return item.kmk_idkelompok === idKelompok;
					});

					if (kelompok) {
						console.log('Nama Kelompok:', kelompok.kmk_namakelompok);
						$('#namakelompok').val(kelompok.kmk_namakelompok);
					} else {
						console.log('Kelompok not found for idKelompok:', idKelompok);
						// Mengosongkan nilai jika idKelompok kosong
						$('#namakelompok').val('');
					}
				} else {
					console.log('Invalid response format or missing data property:', response);
				}
			},
			error: function (xhr, status, error) {
				console.log('Error fetching kelompok data:', error);
				console.log(xhr.responseJSON);
			}
		});
	}
	$(document).ready(function () {
		NamaMahasiswa();
	});

	function tambahJam(event) {
		event.preventDefault();

		var nopendaftaran = document.getElementsByName("nama")[0].value;
		var jenisjam = document.getElementsByName("jenisjam")[0].value;
		var jumlah = document.getElementsByName("jumlah")[0].value;
		var deskripsi = document.getElementsByName("deskripsi")[0].value;
		var tanggal = document.getElementsByName("tanggal")[0].value;

		if (nopendaftaran.trim() === '' || jenisjam.trim() === '' || jumlah.trim() === '' || deskripsi.trim() === '') {
			Swal.fire({
				position: "top-end",
				icon: "error",
				title: "Lengkapi Semua Fields",
				showConfirmButton: false,
				timer: 2000
			});
			return;
		}

		var hostname = "https://localhost:7087";
		var url = hostname + "/insertJamPlusMinus";
		var method = "POST";
		var input = {
			dtj_idjam: "",
			dtj_nopendaftaran: nopendaftaran,
			dtj_nim: "@ViewBag.UserId",
			dtj_jenisjam: jenisjam,
			dtj_jumlah: jumlah,
			dtj_deskripsi: deskripsi,
			dtj_idpkkmb: idpkkmb,
			dtj_tanggal: tanggal,
		};

		var data = JSON.stringify(input);

		$.ajax({
			url: url,
			method: method,
			data: data,
			contentType: "application/json",
			success: function (data) {
				if (data.status === 200) {
					Swal.fire({
						icon: "success",
						title: jenisjam + " Berhasil Ditambahkan",
						showConfirmButton: true,
						showClass: {
							popup: 'animate__animated animate__fadeInDown'
						},
						hideClass: {
							popup: 'animate__animated animate__fadeOutUp'
						}
					}).then(() => {
						window.location.href = '/JamPlusMinus/Index';
					});
				} else {
					Swal.fire({
						icon: "error",
						title: "Gagal menyimpan data.",
						showConfirmButton: true,
						showClass: {
							popup: 'animate__animated animate__fadeInDown'
						},
						hideClass: {
							popup: 'animate__animated animate__fadeOutUp'
						}
					})
					console.log('Insert failed. Server response:', data);
				}
			},
			error: function (xhr, status, error) {
				console.log('Error saving data:', error);
				console.log(xhr.responseJSON.message);
				console.log(status);
			}
		});
	}
</script>

<script>
	var inputFields = document.querySelectorAll('[data-target="validateField"]');
	var validationMessage = document.querySelectorAll('[data-target="validateLabel"]');
	inputFields.forEach(function (inputField) {
		inputField.addEventListener('input', function () {
			if (inputField.value.trim() !== '') {
				inputField.classList.remove('is-invalid');

			} else {
				inputField.classList.add('is-invalid');

			}
		});

		inputField.addEventListener('focus', function () {
			if (inputField.value.trim() === '') {

			}
		});

		inputField.addEventListener('blur', function () {
			if (inputField.value.trim() !== '') {

			}
		});
	});
</script>