@if (ViewBag.UserRole == "Fasilitator")
{
	<div class="row">
		<div class="col-lg">
			<div class="my-3" style="margin-top: 40px;">
				<a class="btn" style="background-color:#0059ab; color:white;" asp-controller="sikap" asp-action="tambahnilaisikap">Tambah Data</a>
			</div>
		</div>
	</div>
}

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Nilai Sikap</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col" class="nama">Nama </th>
							<th scope="col" class="kelompok">Kelompok</th>
							<th scope="col">Hari / Tanggal</th>
							<th scope="col">Nilai</th>
							@if (ViewBag.UserRole == "Fasilitator")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var nopendaftaran = null;
	var idkelompok = null;
	var nama = null;
	var kelompok = null;
	var tanggal = null;
	var tanggalnilai = null;
	new DataTable('#datatable');
	loadTable();

	function formatDateForDisplay(dateString) {
		const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
		const formattedDate = new Date(dateString).toLocaleDateString('id-ID', options);
		return formattedDate;
	}

	function loadTable() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllNilaiSikap";
		var method = "GET";
		var counter = 1;
		var detailData = [];

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				var totalData = item.length;

				$.each(item, function (key, val) {
					var namaMahasiswa = [];
					var namaKelompok = [];

					getNamaMahasiswa(val.nls_nopendaftaran, function (namaMhs) {
						namaMahasiswa.push([namaMhs]);
						loadDataKelompok(idkelompok, function (namaKmk) {
							namaKelompok.push([namaKmk]);
							var aksi = '';
							if ("@ViewBag.UserRole" == "Fasilitator") {
								aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/sikap/ubahnilaisikap/' + val.nls_idnilaisikap + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>';
							}
							detailData.push([counter, namaMahasiswa, namaKelompok, formatDateForDisplay(val.nls_tanggal), val.nls_sikap, aksi]);
							counter++;

							// Inisialisasi DataTable setiap kali data baru ditambahkan
							if (counter - totalData == 1) {
								initializeDataTable(detailData);
							}
						});
					});
				});
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});

		// Fungsi untuk menginisialisasi DataTable
		function initializeDataTable(data) {
			$('#tabellist').DataTable({
				data: detailData,
				language: {
					zeroRecords: "Data Tidak Ditemukan"
				}
			});
		}
	}


	function getNamaMahasiswa(nopendaftaran, callback) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "datamahasiswa?mhs_nopendaftaran=" + nopendaftaran;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				nama = item.mhs_namalengkap;
				idkelompok = item.mhs_idkelompok;
				callback(nama);
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}

	function loadDataKelompok(id, callback) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetKelompok?kmk_idkelompok=" + id;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				namaKelompok = item.kmk_namakelompok;
				callback(namaKelompok);
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}
</script>
