@{
}

@if (ViewBag.UserRole == "Fasilitator")
{
	<div class="row">
		<div class="col-lg">
			<div class="my-3" style="margin-top: 40px;">
				<a class="btn" style="background-color:#0059ab; color:white;" asp-controller="sikap" asp-action="tambahnilaisikap">Tambah Data</a>
			</div>
		</div>
	</div>
}

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<div class="card-header">
				Nilai Sikap
			</div>
			<div class="card-body">
				<table class="table" id="">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col" class="nama">Nama </th>
							<th scope="col" class="kelompok">Kelompok</th>
							<th scope="col">Hari / Tanggal</th>
							<th scope="col">Nilai</th>
							@if (ViewBag.UserRole == "Fasilitator")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
					<tbody id="tbody"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var nopendaftaran = null;
	var idkelompok = null;
	var nama = null;
	var kelompok = null;
	var tanggal = null;
	var tanggalnilai = null;
	new DataTable('#datatable');
	loadTable();

	function formatDateForDisplay(dateString) {
		const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
		const formattedDate = new Date(dateString).toLocaleDateString('id-ID', options);
		return formattedDate;
	}

	function loadTable() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllNilaiSikap";
		var method = "GET";
		var counter = 1;

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				console.log("API Response:", data);
				var list = data.data;
				list.forEach(function (item) {
					getNamaMahasiswa(item.nls_nopendaftaran, function (namaMahasiswa) {
						console.log("Nama Mahasiswa:", namaMahasiswa);
						if ("@ViewBag.UserRole" == "Fasilitator") {
							var newRow = '<tr>' +
								'<td>' + counter + '</td>' +
								'<td>' + namaMahasiswa + '</td>' +
								'<td>' + item.nls_nopendaftaran + '</td>' +
								'<td>' + formatDateForDisplay(item.nls_tanggal) + '</td>' +
								'<td>' + item.nls_sikap + '</td>' +
								'<td>' +
								'<a class="btn btn-primary" href="/sikap/ubahnilaisikap/' + item.nls_idnilaisikap + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>' +
								'</td>' +
								'</tr>';
						} else {
							var newRow = '<tr>' +
								'<td>' + counter + '</td>' +
								'<td>' + namaMahasiswa + '</td>' +
								'<td>' + item.nls_nopendaftaran + '</td>' +
								'<td>' + formatDateForDisplay(item.nls_tanggal) + '</td>' +
								'<td>' + item.nls_sikap + '</td>' +
								'</tr>';
						}

						$('#tbody').append(newRow);
						counter++;
					});
				});
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}

	function getNamaMahasiswa(nopendaftaran, callback) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "datamahasiswa?mhs_nopendaftaran=" + nopendaftaran;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				console.log("Data Mahasiswa:", data);
				var item = data.data;
				nama = item.mhs_namalengkap;
				idkelompok = item.mhs_idkelompok;
				loadDataKelompok();
				callback(nama);
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}

	function loadDataKelompok() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetKelompok?kmk_idkelompok=" + idkelompok;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				kelompok = item.kmk_namakelompok;
			},
		});
	}
</script>
