@{
}

<div class="row">
	<div class="col-lg mb-2">
		<a asp-controller="mahasiswabaru" asp-action="tambahsarankritik" class="font-weight-bold btn btn-rounded" style="padding: .5em 3em; margin-left: 10px; background-color: #0059ab; color: white;">Tambah</a>
	</div>
</div>

<div class="row justify-content-center mb-5">
	<div class="col-lg mb-4">
		<div class="card">
			<div class="card-header">
				Kritik dan Saran
			</div>
			<div class="card-body">
				<table class="table" id="">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Nama</th>
							<th scope="col">Kelompok</th>
							<th scope="col">Kritik</th>
							<th scope="col">Saran</th>
							<th scope="col">Umpan Balik</th>
						</tr>
					</thead>
					<tbody id="tbody"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>