<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Evaluasi Mahasiswa Baru</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">No Pendaftaran</th>
							<th scope="col">Nama</th>
							<th scope="col">Nama Kelompok</th>
							<th scope="col">Kritik</th>
							<th scope="col">Saran</th>
							<th scope="col">Umpan Balik</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	loadTable();

	function loadTable() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllMahasiswa?mhs_idpkkmb=" + idpkkmb
		var method = "GET";
		var counter = 1;
		var detailData = [];

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				var totalData = item.length;

				$.each(item, function (key, val) {
					var namaKelompok = [];

					loadNamaKelompok(val.mhs_idkelompok, function (namaKmk) {
						namaKelompok.push([namaKmk]);
						detailData.push([counter, val.mhs_nopendaftaran, val.mhs_namalengkap, namaKelompok, val.mhs_kritik, val.mhs_saran, val.mhs_insight])
						counter++;

						if (counter - totalData == 1) {
							initializeDataTable(detailData);
						}
					});
				});

				function initializeDataTable(data) {
					$('#tabellist').DataTable({
						data: detailData,
						language: {
							search: "Cari :",
							zeroRecords: "Data Tidak Ditemukan",
							sLengthMenu: "Menampilkan _MENU_ data",
							info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
							infoEmpty: "Menampilkan 0 data",
							infoFiltered: "(Difilter dari _MAX_ total data)",
							paginate: {
								previous: "Sebelumnya",
								next: "Berikutnya"
							}
						}
					});
				}
			}
		});
	}

	function loadNamaKelompok(id, callback) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetKelompok?kmk_idkelompok=" + id;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				namaKelompok = item.kmk_namakelompok;
				callback(namaKelompok);
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}
</script>
