<style>
	#tabellist2 td {
		background-color: #f2f2f2;
		text-align: right !important
	}

	.noaspek {
		text-align: left !important;
	}

	#tabellist2 th {
		border: 1px solid #f2f2f2;
	}

	#tabellist2 tbody td:nth-child(n+2) {
		padding: 35px;
	}

	.btn-active {
		background-color: #0059AB;
		color: #f2f2f2;
	}
</style>

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<div class="row">
					<div class="col-10">
						<strong>Evaluasi Mahasiswa</strong>
					</div>
					<div class="col-2">
						<select class="form-select float-end" id="tahun" name="tahun" aria-label="">
						</select>
					</div>
				</div>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<a class="btn btn-lg" id="kritiksaran" onclick="kritiksaran()" href="#">Kritik & Saran</a>
				<a class="btn btn-lg" id="grafik" onclick="grafik()" href="#">Grafik</a>
				<hr />

				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Nama</th>
							<th scope="col">Nama Kelompok</th>
							<th scope="col">Kritik</th>
							<th scope="col">Saran</th>
						</tr>
					</thead>
				</table>
				<table class="table table-border table-hover" style="border-radius: 10px; overflow: hidden;" id="tabellist2">
					<thead>
						<tr>
							<th rowspan="2">Aspek Penilaian</th>
							<th colspan="10">Nilai</th>
						</tr>
						<tr>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th>
							<th>10</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="noaspek">Tingkat keberhasilan pelaksanaan PKKMB</td>
							<td id="aspek1_1"></td>
							<td id="aspek1_2"></td>
							<td id="aspek1_3"></td>
							<td id="aspek1_4"></td>
							<td id="aspek1_5"></td>
							<td id="aspek1_6"></td>
							<td id="aspek1_7"></td>
							<td id="aspek1_8"></td>
							<td id="aspek1_9"></td>
							<td id="aspek1_10"></td>
						</tr>
						<tr>
							<td class="noaspek">Tingkat efektivitas PKKMB dalam membantu beradaptasi</td>
							<td id="aspek2_1"></td>
							<td id="aspek2_2"></td>
							<td id="aspek2_3"></td>
							<td id="aspek2_4"></td>
							<td id="aspek2_5"></td>
							<td id="aspek2_6"></td>
							<td id="aspek2_7"></td>
							<td id="aspek2_8"></td>
							<td id="aspek2_9"></td>
							<td id="aspek2_10"></td>
						</tr>
						<tr>
							<td class="noaspek">Tingkat kepuasan terhadap materi</td>
							<td id="aspek3_1"></td>
							<td id="aspek3_2"></td>
							<td id="aspek3_3"></td>
							<td id="aspek3_4"></td>
							<td id="aspek3_5"></td>
							<td id="aspek3_6"></td>
							<td id="aspek3_7"></td>
							<td id="aspek3_8"></td>
							<td id="aspek3_9"></td>
							<td id="aspek3_10"></td>
						</tr>
						<tr>
							<td class="noaspek">Tingkat kepuasan peraturan lokasi PKKMB</td>
							<td id="aspek4_1"></td>
							<td id="aspek4_2"></td>
							<td id="aspek4_3"></td>
							<td id="aspek4_4"></td>
							<td id="aspek4_5"></td>
							<td id="aspek4_6"></td>
							<td id="aspek4_7"></td>
							<td id="aspek4_8"></td>
							<td id="aspek4_9"></td>
							<td id="aspek4_10"></td>
						</tr>
						<tr>
							<td class="noaspek">Peran fasilitator</td>
							<td id="aspek5_1"></td>
							<td id="aspek5_2"></td>
							<td id="aspek5_3"></td>
							<td id="aspek5_4"></td>
							<td id="aspek5_5"></td>
							<td id="aspek5_6"></td>
							<td id="aspek5_7"></td>
							<td id="aspek5_8"></td>
							<td id="aspek5_9"></td>
							<td id="aspek5_10"></td>
						</tr>
						<tr>
							<td class="noaspek">Tingkat efektivitas PKKMB dalam memberikan ruang diskusi dan interaksi</td>
							<td id="aspek6_1"></td>
							<td id="aspek6_2"></td>
							<td id="aspek6_3"></td>
							<td id="aspek6_4"></td>
							<td id="aspek6_5"></td>
							<td id="aspek6_6"></td>
							<td id="aspek6_7"></td>
							<td id="aspek6_8"></td>
							<td id="aspek6_9"></td>
							<td id="aspek6_10"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	$('#tabellist2').hide()
	$('#kritiksaran').addClass('btn-active');

	function kritiksaran() {
		loadTable(idpkkmb);
		$('#tabellist').show()
		$('#tabellist2').hide()
		$('#kritiksaran').addClass('btn-active');
		$('#grafik').removeClass('btn-active');
	}

	function grafik() {
		loadTable2(idpkkmb);
		jq('#tabellist').DataTable().clear().destroy();
		$('#tabellist').hide()
		$('#tabellist2').show()
		$('#kritiksaran').removeClass('btn-active');
		$('#grafik').addClass('btn-active');
	}

	function TahunPkkmb() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllPkkmb"
		var method = "GET";

		$.ajax({
			url: url,
			type: method,
			dataType: "json",
			success: function (response) {
				DropDownTahunPkkmb(response.data);
			},
			error: function (xhr, status, error) {
				console.log('Error fetching data:', error);
				console.log(xhr.responseJSON);
			}
		});
	}

	function DropDownTahunPkkmb(data) {
		var dropdown = $('#tahun');
		dropdown.empty();
		dropdown.append($('<option selected disabled data-idpkkmb="">Pilih Tahun</option>'));

		var options = $.map(data, function (item) {
			return $('<option></option>').val(item.pkm_idPkkmb).attr('data-idpkkmb', item.pkm_idPkkmb).text('Tahun ' + item.pkm_tahunPkkmb);
		});

		dropdown.append(options);
	}

	$(document).ready(function () {
		TahunPkkmb();

		$('#tahun').change(function () {
			var selectedYearId = $(this).find(':selected').attr('data-idpkkmb');
			var selectedYear = $(this).find(':selected').text();
			idpkkmb = selectedYearId
			loadTable(selectedYearId);
			loadTable2(selectedYearId);
		});

		loadTable(idpkkmb);
		loadTable2(idpkkmb);
	});

	function loadTable(id_pkkmb) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllMahasiswa?mhs_idpkkmb=" + id_pkkmb
		var method = "GET";
		var counter = 1;
		var detailData = [];

		jq('#tabellist').DataTable().clear().destroy();

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				var totalData = item.length;

				$.each(item, function (key, val) {
					var namaKelompok = [];

					loadNamaKelompok(val.mhs_idkelompok, function (namaKmk) {
						namaKelompok.push([namaKmk]);
						detailData.push([counter, val.mhs_namalengkap, namaKelompok, val.mhs_kritik, val.mhs_saran])
						counter++;

						if (counter - totalData == 1) {
							initializeDataTable(detailData);
						}
					});
				});

				function initializeDataTable(data) {
					jq('#tabellist').DataTable({
						data: detailData,
						language: {
							search: "Cari :",
							zeroRecords: "Data Tidak Ditemukan",
							sLengthMenu: "Menampilkan _MENU_ data",
							info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
							infoEmpty: "Menampilkan 0 data",
							infoFiltered: "(Difilter dari _MAX_ total data)",
							paginate: {
								previous: "Sebelumnya",
								next: "Berikutnya"
							}
						}
					});
				}
			}
		});
	}

	function loadTable2(id_pkkmb) {
		var hostname = 'https://localhost:7087/'
		var url = hostname + "getallmahasiswa?mhs_idpkkmb=" + id_pkkmb
		var method = "GET"
		var counter = 1;
		var detailData = []
		var aspek = []

		for (var i = 1; i <= 10; i++) {
			$('#aspek1_' + i).css('background-color', 'transparent').text('');
			$('#aspek2_' + i).css('background-color', 'transparent').text('');
			$('#aspek3_' + i).css('background-color', 'transparent').text('');
			$('#aspek4_' + i).css('background-color', 'transparent').text('');
			$('#aspek5_' + i).css('background-color', 'transparent').text('');
			$('#aspek6_' + i).css('background-color', 'transparent').text('');
		}

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				var totalData = item.length

				var aspek1 = (item.reduce((total, item) => total + parseFloat(item.mhs_aspek1 || 0), 0)) / totalData;
				var aspek2 = (item.reduce((total, item) => total + parseFloat(item.mhs_aspek2 || 0), 0)) / totalData;
				var aspek3 = (item.reduce((total, item) => total + parseFloat(item.mhs_aspek3 || 0), 0)) / totalData;
				var aspek4 = (item.reduce((total, item) => total + parseFloat(item.mhs_aspek4 || 0), 0)) / totalData;
				var aspek5 = (item.reduce((total, item) => total + parseFloat(item.mhs_aspek5 || 0), 0)) / totalData;
				var aspek6 = (item.reduce((total, item) => total + parseFloat(item.mhs_aspek6 || 0), 0)) / totalData;

				var avgAspek1 = Math.round(aspek1);
				var avgAspek2 = Math.round(aspek2);
				var avgAspek3 = Math.round(aspek3);
				var avgAspek4 = Math.round(aspek4);
				var avgAspek5 = Math.round(aspek5);
				var avgAspek6 = Math.round(aspek6);

				$('#aspek1_' + avgAspek1).text(aspek1).css('font-weight', 'bold');
				$('#aspek2_' + avgAspek2).text(aspek2).css('font-weight', 'bold');
				$('#aspek3_' + avgAspek3).text(aspek3).css('font-weight', 'bold');
				$('#aspek4_' + avgAspek4).text(aspek4).css('font-weight', 'bold');
				$('#aspek5_' + avgAspek5).text(aspek5).css('font-weight', 'bold');
				$('#aspek6_' + avgAspek6).text(aspek6).css('font-weight', 'bold');

				for (var i = 1; i <= avgAspek1; i++) {
					if (avgAspek1 <= 5) {
						$('#aspek1_' + i).css('background-color', '#ffbf00');
					} else {
						$('#aspek1_' + i).css('background-color', '#3fab2e');
					}
				}

				for (var i = 1; i <= avgAspek2; i++) {
					if (avgAspek2 <= 5) {
						$('#aspek2_' + i).css('background-color', '#ffbf00');
					} else {
						$('#aspek2_' + i).css('background-color', '#3fab2e');
					}
				}

				for (var i = 1; i <= avgAspek3; i++) {
					if (avgAspek3 <= 5) {
						$('#aspek3_' + i).css('background-color', '#ffbf00');
					} else {
						$('#aspek3_' + i).css('background-color', '#3fab2e');
					}
				}

				for (var i = 1; i <= avgAspek4; i++) {
					if (avgAspek4 <= 5) {
						$('#aspek4_' + i).css('background-color', '#ffbf00');
					} else {
						$('#aspek4_' + i).css('background-color', '#3fab2e');
					}
				}

				for (var i = 1; i <= avgAspek5; i++) {
					if (avgAspek5 <= 5) {
						$('#aspek5_' + i).css('background-color', '#ffbf00');
					} else {
						$('#aspek5_' + i).css('background-color', '#3fab2e');
					}
				}

				for (var i = 1; i <= avgAspek6; i++) {
					if (avgAspek6 <= 5) {
						$('#aspek6_' + i).css('background-color', '#ffbf00');
					} else {
						$('#aspek6_' + i).css('background-color', '#3fab2e');
					}
				}
			},
		});
	}

	function loadNamaKelompok(id, callback) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetKelompok?kmk_idkelompok=" + id;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				namaKelompok = item.kmk_namakelompok;
				callback(namaKelompok);
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}
</script>