<div class="row mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>PKKMB Aktif</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<strong><span>Tahun Pkkmb : </span><span id="tahunPkkmb">-</span></strong>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg">
		<div class="my-3" style="margin-top: 40px;">
			<a class="btn" style="background-color:#0059ab; color:white;" asp-controller="Pkkmb" asp-action="TambahTahun">Tambah Tahun PKKMB</a>
		</div>
	</div>
</div>


<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Riwayat PKKMB</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Tahun PKKMB</th>
							<th scope="col">Status</th>
							<th scope="col">Aksi</th>
						</tr>
					</thead>
				</table>
				<div class=" float-end" style="margin-top: 20px;">
					<a class="btn" style="background-color: #ed302f !important;" onclick="nonaktifkan(event)">Non Aktifkan</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')
	var tahunpkkmb = sessionStorage.getItem('tahun_pkkmb')
	$('#tahunPkkmb').text(tahunpkkmb)
	loadTable()

	function loadTable() {
		var hostname = "https://localhost:7087/"
		var url = hostname + "GetAllPkkmb"
		var method = "GET"
		var counter = 1;
		var detailData = []
		var aksi = null

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				$.each(item, function (key, val) {
					if (idpkkmb == null && tahunpkkmb == null) {
						aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Pkkmb/UbahTahun/' + val.pkm_idPkkmb + '" data-toggle="tooltip" data-placement="top" title="Ubah Tahun"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a> ' +
							'<a style="background-color: #3a4584 !important;" class="btn btn-primary" onclick="aktifkan(event, \'' + val.pkm_idPkkmb + '\', \'' + val.pkm_tahunPkkmb + '\')" data-toggle="tooltip" data-placement="top" title="Verifikasi Tahun"><i class="fa fa-check" aria-hidden="true"></i></a>'
					} else {
						aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Pkkmb/UbahTahun/' + val.pkm_idPkkmb + '" data-toggle="tooltip" data-placement="top" title="Ubah Tahun"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a> '
					}

					detailData.push([counter, val.pkm_tahunPkkmb, val.pkm_status, aksi])
					counter++;
				});

				$('#tabellist').DataTable({
					data: detailData,
					language: {
						search: "Cari :",
						zeroRecords: "Data Tidak Ditemukan",
						sLengthMenu: "Menampilkan _MENU_ data",
						info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
						infoEmpty: "Menampilkan 0 data",
						infoFiltered: "(Difilter dari _MAX_ total data)",
						paginate: {
							previous: "Sebelumnya",
							next: "Berikutnya"
						}
					}
				});
			},
			error: function (error) {
				console.log('Error fetching data:', error);
			}
		});
	}

	function aktifkan(event, pkm_idPkkmb, pkm_tahunPkkmb) {
		event.preventDefault();

		var hostname = "https://localhost:7087/";
		var url = hostname + "AktifkanPkkmb?pkm_idPkkmb=" + pkm_idPkkmb;
		var method = "PUT";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				Swal.fire({
					icon: "success",
					title: "Data PKKMB Berhasil Diaktifkan.",
					showConfirmButton: true,
					showClass: {
						popup: 'animate__animated animate__fadeInDown'
					},
					hideClass: {
						popup: 'animate__animated animate__fadeOutUp'
					}
				}).then(() => {
					sessionStorage.setItem('id_pkkmb', pkm_idPkkmb)
					sessionStorage.setItem('tahun_pkkmb', pkm_tahunPkkmb);
					location.reload();
				});
			},
			error: function (xhr, status, error) {
				Swal.fire({
					icon: "warning",
					title: "Tahun " + input.pkm_tahunPkkmb + " Sudah Tersedia.",
					showConfirmButton: true,
					showClass: {
						popup: 'animate__animated animate__fadeInDown'
					},
					hideClass: {
						popup: 'animate__animated animate__fadeOutUp'
					}
				})
				console.error("AJAX request error:", status, error);
				console.log("Server response:", xhr.responseText);
			},
		});
	}

	function nonaktifkan(event) {
		event.preventDefault();

		var hostname = "https://localhost:7087/";
		var url = hostname + "NonaktifkanPkkmb?pkm_idPkkmb=" + idpkkmb;
		var method = "PUT";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				Swal.fire({
					icon: "success",
					title: "Data PKKMB Berhasil DiNon-Aktifkan.",
					showConfirmButton: true,
					showClass: {
						popup: 'animate__animated animate__fadeInDown'
					},
					hideClass: {
						popup: 'animate__animated animate__fadeOutUp'
					}
				}).then(() => {
					location.reload();
					sessionStorage.removeItem('id_pkkmb')
					sessionStorage.removeItem('tahun_pkkmb')
				});
			},
			error: function (xhr, status, error) {
				console.error("AJAX request error:", status, error);
				console.log("Server response:", xhr.responseText);
			},
		});
	}
</script>