<div class="row justify-content-center mb-5">
	<div class="col-lg-8">
		<div class="card">
			@*@Context.Session.GetString("Peran")*@
			<h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Tambah Tahun PKKMB</strong>
				<a class="btn" style="position: absolute; top: 11px; right: 10px; color: white;" asp-controller="akun" asp-action="login"><strong>X</strong></a>
			</h5>
			<div class="card-body px-lg-5 pt-1">
				<div class="input-group mb-4 pkm_tahunPkkmb">
					<div class="form-floating">
						<input type="number" class="form-control" maxlength="4" id="pkm_tahunPkkmb" name="pkm_tahunPkkmb" data-target="validateField" placeholder="" value="2020">
						<label for="validateField">Tahun PKKMB</label>
					</div>
					<button class="btn btn-rounded btn-block my-3 mb-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="tambahtahun(event)">Simpan</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById('pkm_tahunPkkmb').addEventListener('input', function () {
		var yearInput = this.value.replace(/[^0-9]/g, '').substring(0, 4);
		this.value = yearInput;

		if (yearInput < 2020) {
			Swal.fire({
				icon: "warning",
				title: "Minimal Tahun 2020",
				showConfirmButton: false,
				timer: 2000
			})
			this.value = '2020';
		}
	});

	function tambahtahun(event) {
		event.preventDefault();

		var pkm_tahunPkkmb = document.getElementsByName("pkm_tahunPkkmb")[0].value;

		var hostname = "https://localhost:7087/";
		var url = hostname + "TambahPkkmb";
		var method = "POST";
		var input = {
			pkm_tahunPkkmb: pkm_tahunPkkmb
		};

		var data = JSON.stringify(input);

		$.ajax({
			url: url,
			method: method,
			data: data,
			contentType: "application/json",
			success: function (data) {
				Swal.fire({
					position: "top-end",
					icon: "success",
					title: "Berhasil Menambahkan Tahun PKKMB",
					showConfirmButton: false,
					timer: 2000
				}).then(() => {
					window.location.href = './';
				});
			},
			error: function (xhr, status, error) {
				Swal.fire({
					icon: "warning",
					title: "Tahun " + input.pkm_tahunPkkmb + " Sudah Tersedia",
					showConfirmButton: false,
					timer: 2000
				})
				console.error("AJAX request error:", status, error);
				console.log("Server response:", xhr.responseText);
			},
		});
	}
</script>