<div class="row justify-content-center mb-5">
	<div class="col-lg-8">
		<div class="card">
			@*@Context.Session.GetString("Peran")*@
			<h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Ubah Akun</strong>
				<a class="btn" style="position: absolute; top: 11px; right: 10px; color: white;" asp-controller="akun" asp-action="login"><strong>X</strong></a>
			</h5>
			<div class="card-body px-lg-5 pt-1">
				<div class="input-group has-validation mb-4 namalengkap">
					<div class="form-floating is-invalid">
						<input type="text" class="form-control is-invalid" maxlength="100" id="validateFieldNoKaryawan" name="nokaryawan" data-target="validateField" placeholder="" value="@ViewBag.pic_nokaryawan" hidden>
						<input type="text" class="form-control is-invalid" maxlength="100" id="validateFieldNamalengkap" name="namalengkap" data-target="validateField" placeholder="">
						<label for="validateFieldNamalengkap">Nama Lengkap</label>
						<div class="invalid-feedback" data-target="validateLabel">* Masukkan Nama Lengkap.</div>
					</div>
				</div>

				<div class="input-group has-validation mb-4 katasandi" hidden>
					<div class="form-floating is-invalid">
						<input type="password" class="form-control is-invalid" maxlength="30" id="validateFieldKatasandi" data-target="validateField" name="katasandi" placeholder="">
						<label for="validateFieldKatasandi">Kata Sandi</label>
						<div class="invalid-feedback" data-target="validateLabel">* Masukkan Kata Sandi.</div>
					</div>
				</div>
				<button class="btn btn-rounded btn-block my-3 mb-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="update(event)">Simpan</button>
			</div>
		</div>
	</div>
</div>
<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	loadData();

	function loadData() {
		var pic_npk = document.getElementsByName("nokaryawan")[0];
		var pic_namalengkap = document.getElementsByName("namalengkap")[0];
		var pic_password = document.getElementsByName("katasandi")[0];

		var hostname = "https://localhost:7087/"
		var url = hostname + "datapic?pic_npk=" + pic_npk.value;
		var method = "GET"

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				pic_npk.value = item.pic_nokaryawan;
				pic_namalengkap.value = item.pic_nama;
				pic_password.value = item.pic_password;
			},
			error: function (xhr, status, error) {
				console.error("AJAX request error:", status, error);
				console.log("Server response:", xhr.responseText);
			},
		});
	}

	function update(event) {
		event.preventDefault();

		var pic_npk = document.getElementsByName("nokaryawan")[0].value;
		var pic_namalengkap = document.getElementsByName("namalengkap")[0].value;
		var pic_password = document.getElementsByName("katasandi")[0].value;

		var hostname = "https://localhost:7087/"
		var url = hostname + "ubahpic"
		var method = "PUT"
		var input = {
			pic_nokaryawan: pic_npk,
			pic_nama: pic_namalengkap,
			pic_password: pic_password,
			pic_status: "Aktif",
		}
		var data = JSON.stringify(input)

		$.ajax({
			url: url,
			method: method,
			data: data,
			contentType: "application/json",
			success: function (data) {
				Swal.fire({
					position: "top-end",
					icon: "success",
					title: "Update Akun Berhasil",
					showConfirmButton: false,
					timer: 2000
				}).then(() => {
					window.location.href = '/picpkkmb/index';
				});
			},
			error: function (xhr, status, error) {
				Swal.fire({
					position: "top-end",
					icon: "error",
					title: xhr.responseJSON.message,
					showConfirmButton: false,
					timer: 2000
				})
				console.error("AJAX request error:", status, error);
				console.log("Server response:", xhr.responseJSON);
			},
		});
	}
</script>