<div class="row">
	<div class="col-lg">
		<div class="my-3" style="margin-top: 40px;">
			<a class="btn" style="background-color:#0059ab; color:white;" href="../TambahAnggota/@ViewBag.kmk_idkelompok">Tambah Anggota</a>
		</div>
	</div>
</div>

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Anggota Kelompok <span id="kelompok"></span>&nbsp;<span class="float-end" id="fasilitator"></span></strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Mahasiswa</th>
							<th scope="col">Jenis Kelamin</th>
							<th scope="col">Program Studi</th>
							<th scope="col">Kategori</th>
							<th scope="col">Aksi</th>
						</tr>
					</thead>
				</table>
				<div class="float-end" style="margin-top: 20px;">
					<a class="btn" Style="background-color: #ed302f;" onclick="hapusAnggota(event)">Hapus</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var nim = null;
	var selectedMhs = [];
	loadDataKelompok()

	function loadDataKelompok() {
		var idkelompok = '@ViewBag.kmk_idkelompok';
		var namakelompok = document.getElementById("kelompok");

		var hostname = "https://localhost:7087/";
		var url = hostname + "GetKelompok?kmk_idkelompok=" + idkelompok;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				namakelompok.textContent = item.kmk_namakelompok;
				nim = item.kmk_nim;
				namaFasilitator()
				loadDataAnggota()
			},
		});
	}

	function loadDataAnggota() {
		var idkelompok = '@ViewBag.kmk_idkelompok';

		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAnggotaKelompok?kmk_idkelompok=" + idkelompok;
		var method = "GET";
		var counter = 1;
		var detailData = []

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;

				$.each(item, function (key, val) {
					var aksi = '<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault' + counter + '" data-mhs-no="' + val.mhs_nopendaftaran + '">' +
						'<label class="form-check-label" for="flexCheckDefault' + counter + '"></label>';
					detailData.push([counter, val.mhs_namalengkap, val.mhs_gender, val.mhs_programstudi, val.mhs_kategori, aksi])
					counter++;
				});

				$('#tabellist').DataTable({
					data: detailData,
					language: {
						search: "Cari :",
						zeroRecords: "Data Tidak Ditemukan",
						sLengthMenu: "Menampilkan _MENU_ data",
						info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
						infoEmpty: "Menampilkan 0 data",
						infoFiltered: "(Difilter dari _MAX_ total data)",
						paginate: {
							previous: "Sebelumnya",
							next: "Berikutnya"
						}
					}
				});

				$('input[type="checkbox"]').change(function () {
					var mhsNo = $(this).data('mhs-no');
					if (this.checked) {
						selectedMhs.push(mhsNo);
					} else {
						selectedMhs = selectedMhs.filter(function (nim) {
							return nim !== mhsNo;
						});
					}
				});
			},
		});
	}

	function namaFasilitator() {
		var fasilitator = document.getElementById("fasilitator");

		var hostname = "https://localhost:7087/";
		var url = hostname + "dataksk?ksk_nim=" + nim;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				fasilitator.textContent = 'Fasilitator : ' + item.ksk_nama;
			},
		});
	}

	function hapusAnggota(event) {
		event.preventDefault();

		if (selectedMhs.length == 0) {
			Swal.fire({
				position: "top-end",
				icon: "warning",
				title: "Tidak Ada Mahasiswa Yang Dipilih.",
				showConfirmButton: false,
				timer: 2000,
			});
			return;
		}

		var hostname = "https://localhost:7087/";
		url = hostname + "BatalPengelompokkanMahasiswa";
		method = "PUT";

		var data = JSON.stringify(selectedMhs);

		$.ajax({
			url: url,
			method: method,
			data: data,
			contentType: "application/json",
			success: function (data) {
				Swal.fire({
					position: "top-end",
					icon: "success",
					title: "Berhasil Menghapus Anggota Dari Kelompok.",
					showConfirmButton: false,
					timer: 2000,
				}).then(() => {
					location.reload();
				});
			},
			error: function (xhr, status) {
				console.error("AJAX request error:", status);
				console.log("Server response:", xhr.responseJSON);
			},
		});
	}
</script>