@if (@ViewBag.UserRole == "KSK")
{
	<div class="row">
		<div class="col-lg">
			<div class="my-3" style="margin-top: 40px;">
				<a class="btn" style="background-color:#0059ab; color:white;" asp-controller="Kelompok" asp-action="TambahKelompok">Tambah Kelompok</a>
			</div>
		</div>
	</div>
}

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Kelompok PKKMB</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Nama Kelompok</th>
							<th scope="col">Fasilitator</th>
							<th scope="col">Ruangan</th>
							@if (@ViewBag.UserRole == "KSK")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var ksknim = null
	loadTable()

	function loadTable() {
		var hostname = "https://localhost:7087/"
		var url = hostname + "GetAllKelompok"
		var method = "GET"
		var counter = 1;
		var detailData = []

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				var totalData = item.length;

				$.each(item, function (key, val) {
					var namaKesekretariatan = [];
					var namaRuangan = [];

					loadNamaKesekretariatan(val.kmk_nim, function (namaKsk) {
						namaKesekretariatan.push([namaKsk]);
						loadNamaRuangan(val.kmk_idruangan, function (namaRuang) {
							namaRuangan.push([namaRuang]);
							var aksi = '';
							if ("@ViewBag.UserRole" == "KSK") {
								aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Kelompok/UbahKelompok/' + val.kmk_idkelompok + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a> ' +
									'<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Kelompok/DetailKelompok/' + val.kmk_idkelompok + '"><i class="fa fa-eye" aria-hidden="true"></i></a>';
							}
							detailData.push([counter, val.kmk_namakelompok, namaKesekretariatan, namaRuangan, aksi])
							counter++;

							if (counter - totalData == 1) {
								initializeDataTable(detailData);
							}
						});
					});
				});

				function initializeDataTable(data) {
					$('#tabellist').DataTable({
						data: detailData,
						language: {
							search: "Cari :",
							zeroRecords: "Data Tidak Ditemukan",
							sLengthMenu: "Menampilkan _MENU_ data",
							info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
							infoEmpty: "Menampilkan 0 data",
							infoFiltered: "(Difilter dari _MAX_ total data)",
							paginate: {
								previous: "Sebelumnya",
								next: "Berikutnya"
							}
						}
					});
				}
			},
			error: function (xhr, status, error) {
				console.log('Error fetching data:', error);
				console.log(xhr.responseJSON);
			}
		});
	}

	function loadNamaKesekretariatan(id, callback) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "dataksk?ksk_nim=" + id;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				namaKsk = item.ksk_nama;
				callback(namaKsk);
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}

	function loadNamaRuangan(id, callback) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetRuangan?rng_idruangan=" + id;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				namaRuangan = item.rng_namaruangan;
				callback(namaRuangan);
			},
			error: function (error) {
				console.error("Error fetching data: ", error);
			},
		});
	}
</script>