@if (@ViewBag.UserRole == "KSK")
{
	<div class="row">
		<div class="col-lg">
			<div class="my-3" style="margin-top: 40px;">
				<a class="btn" style="background-color:#0059ab; color:white;" asp-controller="Kelompok" asp-action="TambahKelompok">Tambah Kelompok</a>
			</div>
		</div>
	</div>
}

<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Kelompok</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Nama Kelompok</th>
							<th scope="col">Fasilitator</th>
							<th scope="col">Ruangan</th>
							@if (@ViewBag.UserRole == "KSK")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	loadTable()

	function loadTable() {
		var hostname = "https://localhost:7087/"
		var url = hostname + "GetAllKelompok"
		var method = "GET"
		var counter = 1;
		var detailData = []

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;

				$.each(item, function (key, val) {
					var aksi = null
					if ("@ViewBag.UserRole" == "KSK") {
						aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Kelompok/UbahKelompok/' + val.kmk_idkelompok + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a> ' +
							'<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Kelompok/DetailKelompok/' + val.kmk_idkelompok + '"><i class="fa fa-eye" aria-hidden="true"></i></a>';
					}
					detailData.push([counter, val.kmk_namakelompok, val.kmk_nim, val.kmk_idruangan, aksi])
					counter++;
				});

				$('#tabellist').DataTable({
					data: detailData,
					language: {
						zeroRecords: "Data Tidak Ditemukan"
					}
				});
			},
		});
	}
</script>