@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h5 class="fw-bold text-center"><span style="color: blue;">Kesekretariatan</span> / Dashboard</h5>


<div class="card text-center">
    <div class="card-header">
        Informasi Mahasiswa
    </div>
    <div class="card-body">
     
    </div>
</div>