<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<div class="row">
					<div class="col-10">
						<strong>Panitia Kesekretariatan</strong>
					</div>
					<div class="col-2">
						<select class="form-select float-end" id="tahun" name="tahun" aria-label="">
						</select>
					</div>
				</div>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">NIM</th>
							<th scope="col">Nama KSK</th>
							<th scope="col">Gender</th>
							<th scope="col">Program Studi</th>
							<th scope="col">Role</th>
							<th scope="col">Aksi</th>
						</tr>
					</thead>
				</table>
				<div class=" float-start" style="margin-top: 20px;">
					<a class="btn" style="background-color: #3a4584 !important;" onclick="checkAll()">Pilih Semua</a>
					<a class="btn" style="background-color: #ed302f !important;" onclick="uncheckAll()">Batal Pilih Semua</a>
				</div>
				<div class=" float-end" style="margin-top: 20px;">
					<a class="btn" style="background-color: #ed302f !important;" onclick="nonAktifKsk(event)">Non Aktifkan</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	function TahunPkkmb() {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllPkkmb"
		var method = "GET";

		$.ajax({
			url: url,
			type: method,
			dataType: "json",
			success: function (response) {
				DropDownTahunPkkmb(response.data);
			},
			error: function (xhr, status, error) {
				console.log('Error fetching data:', error);
				console.log(xhr.responseJSON);
			}
		});
	}

	function DropDownTahunPkkmb(data) {
		var dropdown = $('#tahun');
		dropdown.empty();
		dropdown.append($('<option selected disabled data-idpkkmb="">Pilih Tahun</option>'));

		var options = $.map(data, function (item) {
			return $('<option></option>').val(item.pkm_idPkkmb).attr('data-idpkkmb', item.pkm_idPkkmb).text('Tahun ' + item.pkm_tahunPkkmb);
		});

		dropdown.append(options);
	}

	$(document).ready(function () {
		TahunPkkmb();

		$('#tahun').change(function () {
			var selectedYearId = $(this).find(':selected').attr('data-idpkkmb');
			var selectedYear = $(this).find(':selected').text();
			console.log('ID Tahun terpilih:', selectedYearId);
			console.log('Tahun terpilih:', selectedYear);

			loadTable(selectedYearId);
		});

		loadTable(idpkkmb);
	});

	//'<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Akun/Ubah/' + val.ksk_nim + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>'

	var selectedNIMs = [];

	function loadTable(id_pkkmb) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "TampilKskAktif?ksk_idpkkmb=" + id_pkkmb;
		var method = "GET";
		var counter = 1;
		var detailData = [];

		jq('#tabellist').DataTable().destroy();

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;

				$.each(item, function (key, val) {
					var aksi = '<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault' + counter + '" data-ksk-nim="' + val.ksk_nim + '">' +
						'<label class="form-check-label" for="flexCheckDefault' + counter + '"></label>';
					detailData.push([counter, val.ksk_nim, val.ksk_nama, val.ksk_jeniskelamin, val.ksk_programstudi, val.ksk_role, aksi]);
					counter++;
				});

				// Inisialisasi DataTable setelah dihancurkan
				jq('#tabellist').DataTable({
					data: detailData,
					language: {
						search: "Cari :",
						zeroRecords: "Data Tidak Ditemukan",
						sLengthMenu: "Menampilkan _MENU_ data",
						info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
						infoEmpty: "Menampilkan 0 data",
						infoFiltered: "(Difilter dari _MAX_ total data)",
						paginate: {
							previous: "Sebelumnya",
							next: "Berikutnya"
						}
					}
				});

				$('input[type="checkbox"]').change(function () {
					var kskNim = $(this).data('ksk-nim');
					if (this.checked) {
						selectedNIMs.push(kskNim);
					} else {
						selectedNIMs = selectedNIMs.filter(function (nim) {
							return nim !== kskNim;
						});
					}
				});
			},
		});
	}

	function nonAktifKsk(event) {
		event.preventDefault();
		if (validateArray()) {
			var hostname = "https://localhost:7087/";
			url = hostname + "nonAktifKsk";
			method = "PUT";

			var data = JSON.stringify(selectedNIMs);

			$.ajax({
				url: url,
				method: method,
				data: data,
				contentType: "application/json",
				success: function (data) {
					Swal.fire({
						icon: "success",
						title: "Panitia Kesekretariatan Berhasil Dinonaktifkan.",
						showConfirmButton: true,
						showClass: {
							popup: 'animate__animated animate__fadeInDown'
						},
						hideClass: {
							popup: 'animate__animated animate__fadeOutUp'
						}
					}).then(() => {
						location.reload()
					});
				},
				error: function (xhr, status) {
					console.error("AJAX request error:", status);
					console.log("Server response:", xhr.responseJSON);
				},
			});
		}
	}

	function validateArray() {
		if (selectedNIMs.length === 0) {
			Swal.fire({
				icon: "warning",
				title: "Silakan Pilih Data Kesekretariatan.",
				showConfirmButton: true,
				showClass: {
					popup: 'animate__animated animate__fadeInDown'
				},
				hideClass: {
					popup: 'animate__animated animate__fadeOutUp'
				}
			});
			return false; // Return false if validation fails
		}
		return true; // Return true if validation succeeds
	}

	function checkAll() {
		// Use prop('checked', true) to set the checked property of checkboxes
		$('input[type="checkbox"]').prop('checked', true);

		// Update the selectedNIMs array to include all checked checkboxes
		selectedNIMs = $('input[type="checkbox"]').map(function () {
			return $(this).data('ksk-nim');
		}).get();
	}

	function uncheckAll() {
		$('input[type="checkbox"]').prop('checked', false);
		// Clear the selectedNIMs array
		selectedNIMs = [];
	}
</script>